<footer>
    <div class="footer" style="    margin-top: 50px;">
        <div class="container">
            <div class="row">
                <br>
                <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12"  align="center">

                        <span style="color:#545454; font-size: 16px;font-family: 'Open Sans', sans-serif" >
                            Comment commander sur le drive ? <br>

C’est très simple : Choisissez votre station, remplissez votre panier, payez en ligne et venez récupérer vos produits au créneau choisi sans coût supplémentaire !

Votre commande sera déposée dans le coffre de votre voiture, le tout dans le respect des gestes barrières.
                        </span>
                    <br>
                    <div class="w100 clearfix" style="padding-top: 20px">
                        <ul class="orderStep orderStepLook2" style="margin-bottom: 0;    margin-top: 10px; ">
                            <li>
                                <a style="color: #454545;cursor: default;"> <i style="background-color: #EFF0F2;" class="fa fa-map-marker"></i> <span> 1.Point de retrait</span></a>
                            </li>
                            <li >
                                <a style="color: #454545;cursor: default;"> <i style="background-color: #EFF0F2;" class="glyphicon glyphicon-shopping-cart"></i> <span> 2.Panier</span></a>
                            </li>
                            <li>
                                <a style="color: #454545;cursor: default;"> <i style="background-color: #EFF0F2;" class="fa fa-calendar"></i><span> 3.Créneau </span></a>
                            </li>
                            <li>
                                <a style="color: #454545;cursor: default;"><i style="background-color: #EFF0F2;" class="fa fa-check-square "> </i><span>4.Confirmer</span></a>
                            </li>
                            <li>
                                <a style="color: #454545;cursor: default;"><i style="background-color: #EFF0F2;" class="fa fa-money"> </i><span>5.Paiement</span></a>
                            </li>
                        </ul>
                        <!--/.orderStep end-->
                    </div>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-4 col-xs-6">

                    <ul>
                        <li><a href="/DRIVE-Conditions-d_Utilisation_v2018_07_24.pdf" target="_blank"><i
                                        class="glyphicon glyphicon-play" style="color: #df0c36;"></i>
                                Conditions Générales d'Utilisation
                            </a></li>


                    </ul>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-4 col-xs-6">
                    <ul>
                        <li><a href="/DRIVE-Charte-personnelles-et-cookies_v2018_07_24.pdf" target="_blank"><i
                                        class="glyphicon glyphicon-play" style="color: #df0c36"></i>
                                Données personnelles
                            </a></li>


                    </ul>
                </div>


                <div class="col-lg-4  col-md-4 col-sm-4 col-xs-6">
                    <ul class="list-unstyled footer-nav">
                        <li><a href="#" id="condition_vente_link" target="_blank"><i class="glyphicon glyphicon-play"
                                                                                     style="color: #df0c36"></i>
                                Conditions Générales de Vente

                            </a></li>


                    </ul>
                </div>


                <div style="clear:both" class="hide visible-xs"></div>

            </div>

        </div>

    </div>
    <!--/.footer-->

    <!-- <div class="footer-bottom" style="background: #f0e8de;">
         <div class="container">
             <ul style="list-style: none">
             <li><p class="pull-right" > Powered by <span style=""><a href="http://app4mob.mobi" target="_blank"><b>APP4MOB</b></a></span></p></li>
             </ul>

         </div>
     </div>-->
</footer>


<div class="cookieinfo"
     style="display:none;border-top: 3px solid #df0c36;position: fixed; left: 0px; right: 0px; height: auto; min-height: 21px; z-index: 2147483647; background: rgb(255, 255, 255); color: rgb(102, 102, 102); line-height: 21px; padding: 8px 18px; font-family: verdana, arial, sans-serif; font-size: 14px; text-align: left; bottom: 0px; opacity: 1;">
    <div class="cookieinfo-close"
         style="float: right; display: block; padding: 5px 8px; min-width: 100px; margin-left: 5px; border-radius: 5px; cursor: pointer; color: rgb(255, 255, 255); background: rgb(223, 7, 51); text-align: center;"
         onclick="acceptCookies()">
        Ok, J'accepte!
    </div>
    <span style="display:block;padding:5px 0 5px 0;">Nous utilisons les cookies afin de vous fournir les services et fonctionnalités proposés sur notre site et dans le but d’améliorer l’expérience de nos utilisateurs. Les cookies sont des données téléchargées ou stockées sur votre ordinateur ou sur tout autre appareil.<br><br>En cliquant sur ”OK, j’accepte”, vous acceptez l’utilisation des cookies. Pour en savoir plus, veuillez-vous reporter à la section<br> <a
                href="/DRIVE-Bandeau-cookies_v2018_07_24.pdf" style="text-decoration: none; color: #df0c36;" target="_blank">Politique des données personnelles et cookies.</a></span>
</div>
<script>
    $("document").ready(function () {
        hideCookies();
        $.get("{{ path('getConditionVente') }}", function (data, status) {
            if (status === "success") {
                $("#condition_vente_link").attr("href", data);
            }
        });
    });

    function acceptCookies() {
        localStorage.setItem('localstorage_accepted', '1');
        hideCookies();
    }

    function hideCookies() {
        if (localStorage.getItem("localstorage_accepted") !== null && localStorage.getItem("localstorage_accepted") !== "") {
            $(".cookieinfo").hide();
        }
        else{
            $(".cookieinfo").show();
        }

    }


</script>