<script>
    function changeStation() {
        r = confirm("Le panier sera vidé si vous changez la station");
        if (r === true) {
            $("#form-station").submit();
        }

    }

    $(document).ready(function () {
        var route = $('#cp').val();
        if (route != null) {
            if (route == "homepage_frontend") {
                $('#homepage').addClass("active");
                //$('#homepage_link').css('color','white')
            } else if (route == "list_produit") {
                $('#prods').addClass("active");
                // $('#prods_link').css('color','white')
            } else if (route == "contact_us") {
                $('#contact').addClass("active");
                //$('#contact_link').css('color','white');
            }


        }
    });
</script>
<style>


    .miniCartFooter {
        background: whitesmoke;
    }

    @media (min-width: 980px) and (max-width: 993px) {
        .cartMenu a.dropdown-toggle, .cartMenu a#cart-sidebar-toggle {
            font-size: 0px !important;
        }
    }

    @media (min-width: 768px) {
        .navbar-tshop ul.nav li.dropdown ul.dropdown-menu {
            max-height: 500px;
            overflow-y: scroll;
        }
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        .navbar-nav > li > a {
            font-size: 15px;
        }

        .cartMenu a.dropdown-toggle, .cartMenu a#cart-sidebar-toggle {
            font-size: 15px;
        }

        .userMenu > li > a {
            font-size: 11px;
        }
    }


</style>
<div class="navbar navbar-tshop navbar-fixed-top megamenu my_nav_bar" role="navigation">
    <!--navbar-top-->
    <div class="navbar-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-3 hidden-xs  ">
                    <a href="{{ path('homepage_frontend') }}"><img
                                src="{{ asset('bundles/frontend/img/logo_total.jpg?v1') }}" alt="logo total"
                                style="width: 170px;margin-top: 10px;"></a>
                </div>
                <div class="col-lg-8 col-sm-8 col-xs-12 col-md-  no-padding" style="margin-top: 15px">
                    <div class="pull-right">

                        {% if not app.user %}
                            <ul class="userMenu">

                                <li class="">

                                        <span>

                                             <form action="{{ path("setStation") }}">

                                            <select id="stationList" name="station_id"
                                                    style="margin-left: 5px;height: 27px;    margin-right: 20px;"
                                                    onchange="this.form.submit()">
                                                <option></option>
                                                {% for key, station in stations %}
                                                    <optgroup label="{{ key }}">
                                                        {% for s in station %}
                                                            <option value="{{ s.id }}" {% if app.session.get("station_id","") == s.id %} selected {% endif %}>{{ s.nom }}</option>
                                                        {% endfor %}
                                                    </optgroup>
                                                {% endfor %}#}
                                            </select>
                                             </form>
                                        </span>


                                        </li>
                                <li class="dropdown hasUserMenu">
                                    <a href="#" class="dropdown-toggle"
                                       data-toggle="dropdown" aria-expanded="false">

                                        Contact</a>

                                    <ul class="dropdown-menu">
                                        <br>
                                        {% if station and  station.adresse %}
                                            <li>
                                                <a href=""><i class="fa fa-map-marker"></i>Adresse: {{ station.adresse }}</a>
                                            </li>
                                        {% endif %}
                                        {% if station and station.gerant %}
                                            <li><a  href=""><i class="fa fa-envelope"></i>Email: {{ station.gerant.email }}</a></li>
                                        {% endif %}
                                        {% if station and station.tel %}
                                            <li><a  href=""><i class="fa fa-phone"></i>Téléphone: {{ station.tel }}</a></li>
                                        {% endif %}
                                        <br>
                                    </ul>

                                </li>
                                <li class="">
                                    <a href="{{ path('fos_user_security_login') }}">
                                        <span class="hidden-xs">Se Connecter</span>
                                        <i class="glyphicon glyphicon-log-in hide visible-xs "></i>
                                    </a>
                                </li>
                                        <li class="hidden-xs">
                                            <a href="{{ path('fos_user_registration_register') }}"> Créer nouveau compte </a>
                                        </li>
                                    </ul>
                        {% else %}
                            <ul class="userMenu">
                                <li>
                                        <span>

                                             <form action="{{ path("setStation") }}" id="form-station">

                                            <select id="stationList" name="station_id"
                                                    style="margin-left: 5px;height: 27px;    margin-right: 20px;"
                                                    onchange="changeStation()">
                                                {% for key, station in stations %}
                                                    <optgroup label="{{ key }}">
                                                        {% for s in station %}
                                                            <option value="{{ s.id }}" {% if app.session.get("station_id","") == s.id %} selected {% endif %}>{{ s.nom }}</option>
                                                        {% endfor %}
                                                    </optgroup>
                                                {% endfor %}#}
                                            </select>
                                             </form>
                                        </span>
                                        </li>

                                <li class="dropdown hasUserMenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Contact </a>
                                    <ul class="dropdown-menu">
                                        <br>
                                        {% if station and station.adresse %}
                                        <li>
                                           <a href=""><i class="fa fa-map-marker"></i>Adresse: {{ station.adresse }}</a>
                                        </li>
                                        {% endif %}
                                        {% if station and station.gerant %}
                                        <li><a  href=""><i class="fa fa-envelope"></i>Email: {{ station.gerant.email }}</a></li>
                                        {% endif %}
                                        {% if  station and station.tel %}
                                        <li><a  href=""><i class="fa fa-phone"></i>Téléphone: {{ station.tel }}</a></li>
                                        {% endif %}
                                        <br>
                                    </ul>
                                </li>

                                <li><a href="{{ path("compte") }}"><span class="hidden-xs"> Mon compte</span></a></li>
                                <li class="dropdown hasUserMenu">
                                    <a href="#" class="dropdown-toggle"
                                                                            data-toggle="dropdown" aria-expanded="false">

                                                <span class="hidden-xs"> Bonjour {{ app.user.firstName }} </span><i
                                                        class="glyphicon glyphicon-user  "></i><b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path("fos_user_profile_edit") }}"> <i class="fa fa-user"></i>
                                                        Editer mes informations</a></li>
                                                <li><a href="{{ path("fos_user_change_password") }}"><i
                                                                class="fa fa fa-cog"></i> Changer mot de passe</a></li>

                                                <!--
                                        <li><a href="{{ path("profile_adresse") }}"><i class="fa fa-map-marker"></i> Mes
                                                adresses</a></li>

                                        -->
                                                <li><a href="{{ path("facture") }}"><i class="fa  fa-calendar"></i> Mes
                                                        Commandes</a></li>
                                                <li class="divider"></li>
                                                <li><a href="{{ path("logout_user") }}"><i class="fa  fa-sign-out"></i>
                                                        Déconnexion</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                {% endif %}


                            </div>



                </div>
            </div>
        </div>
    </div>
    <!--/.navbar-top-->

    <div class="container">
        <div class="navbar-header">
            <a href="{{ path('homepage_frontend') }}" class="hidden-lg hidden-sm hidden-md"><img
                        src="{{ asset('bundles/frontend/img/logo_total.jpg?v1') }}" alt="logo total"
                        style="    width: 120px; margin-top: 10px;"></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span
                        class="icon-bar"> </span> <span class="icon-bar"> </span></button>
            <a href="{{ path("panier") }}">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-cart"><i
                            class="fa fa-shopping-cart colorWhite "> </i> <span
                            class="cartRespons colorWhite">{{ panier|length }}
                    Article{% if panier|length != 1 %}s{% endif %} | <span
                                class="total_price_cart_empty">--</span> € </span>
                </button>
            </a>
            <!-- this part for mobile -->
            <div class="search-box pull-right hidden-lg hidden-md hidden-sm">
                <div class="input-group">
                    <button class="btn  getFullSearch" type="button" style="background-color: #df0c36;color:white">
                        <i class="fa fa-search"> </i>
                    </button>
                </div>
                <!-- /input-group -->
            </div>

        </div>


        <!--/.navbar-cart-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="homepage"><a id="homepage_link" href="{{ path('homepage_frontend') }}"> Accueil </a></li>
                {% if categories["food"]|length > 0 %}
                    <li class="dropdown megamenu-fullwidth">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            Alimentaire
                            <b class="caret"> </b> </a>
                        <ul class="dropdown-menu">
                            <li class="megamenu-content">
                                <!-- megamenu-content -->

                                {% for key,category in categories["food"] %}
                                    {% if loop.index is odd   or  category.id ==4 %}<div class="col-lg-2  col-sm-2 col-md-2">{% endif %}
                                    <ul class=" ">
                                        <li>
                                            <a href="{{ path("list_produit") }}?categorie_id={{ category.id }}"><p>
                                                    <strong> {{ category.nom }} </strong></p></a>
                                        </li>
                                        {% for sub_category in category.sousCategories %}
                                            <li>
                                                <a href="{{ path("list_produit") }}?sub_categorie_id={{ sub_category.id }}"> {{ sub_category.nom }} </a>
                                            </li>
                                        {% endfor %}

                                    </ul>



                                    {% if loop.index is even or  category.id ==3 %}</div>{% endif %}
                                {% endfor %}

                            </li>
                        </ul>

                    </li>
                {% endif %}
                {% if categories["auto"]|length > 0 %}
                    <li class="dropdown megamenu-fullwidth ">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            Produits Auto
                            <b class="caret"> </b> </a>
                        <ul class="dropdown-menu">
                            <li class="megamenu-content">
                                <!-- megamenu-content -->
                                {% for key,category in categories["auto"] %}

                                    {% if loop.index is odd %}<div class="col-lg-2  col-sm-2 col-md-2">{% endif %}
                                    <ul class=" ">
                                        <li>
                                            <a href="{{ path("list_produit") }}?categorie_id={{ category.id }}"><p>
                                                    <strong> {{ category.nom }} </strong></p></a>
                                        </li>
                                        {% for sub_category in category.sousCategories %}
                                            <li>
                                                <a href="{{ path("list_produit") }}?sub_categorie_id={{ sub_category.id }}"> {{ sub_category.nom }} </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% if loop.index is even %}</div>{% endif %}
                                {% endfor %}
                            </li>
                        </ul>

                    </li>
                {% endif %}
                {% for key,category in categories["other"] %}
                    <li class="dropdown megamenu-30width "><a data-toggle="dropdown" class="dropdown-toggle"
                                                              href="{{ path("list_produit") }}?categorie_id={{ category.id }}">{{ category.nom }}
                            <b class="caret"> </b> </a>
                        <ul class="dropdown-menu">
                            <li class="megamenu-content ">
                                <ul class="col-lg-12  col-sm-12 col-md-12 unstyled noMarginLeft newCollectionUl">
                                    {% for sub_category in category.sousCategories %}
                                        <li>
                                            <a href="{{ path("list_produit") }}?sub_categorie_id={{ sub_category.id }}"> {{ sub_category.nom }} </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% if category.id == 8  and false %}
                                    <ul class="col-lg-9  col-sm-3 col-md-3  col-xs-4">
                                        <li><a class="newProductMenuBlock" href="product-details.html"> <img
                                                        class="img-responsive"
                                                        src="https://tn.jumia.is/cms/campaign-TN/2020/w15/W15_Protection_SX_TN_020420.jpg"
                                                        alt="product" style="width: 100%;
    max-height: 300px;"> <span
                                                        class="ProductMenuCaption"> <i class="fa fa-caret-right"> </i> Promotion </span>
                                            </a></li>
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </li>
                {% endfor %}


            </ul>
            </ul>

            <!--- this part will be hidden for mobile version -->
            <div class="nav navbar-nav navbar-right hidden-xs">


                <div class="search-box" style="border-right: 1px solid white;float: left;margin-left: 10px">
                    <div class="input-group">
                        <button class="btn btn-nobg getFullSearch" type="button"><i class="fa fa-search"> </i></button>
                    </div>
                    <!-- /input-group -->
                </div>

                <div class="dropdown  cartMenu ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       onclick="goToURL('{{ path("panier") }}')">
                        <i class="fa fa-shopping-cart"> </i>
                        <span class="cartRespons">
                                <span class="nb-article">{{ panier|length }}</span>
                                Article{% if panier|length != 1 %}s{% endif %}
                                | <span class="total_price_cart_empty">0</span> € TTC
                            </span> <b class="caret"> </b>
                    </a>

                    <div class="dropdown-menu col-lg-4 col-xs-12 col-md-4 ">
                        <div class="w100 miniCartTable scroll-pane">
                            <table>
                                <tbody>
                                {% set total_price = 0 %}
                                {% for article in articles %}
                                    {% set nb_article = panier[article.id] %}
                                    <tr class="miniCartProduct product-{{ article.id }}">
                                        <td style="width:20%" class="miniCartProductThumb">
                                            <div><a href="{{ path('show_produit',{"id":article.id}) }}"> <img
                                                            class="lazy"
                                                            data-original="/uploads/produits/{{ article.image }}"
                                                            alt="{{ article.nom }}"
                                                            data-original="/uploads/produits/{{ article.image }}"
                                                            src="{% if article.SousCategorie  and article.SousCategorie.image  and article.SousCategorie.image != "" %}/uploads/produits/{{ article.SousCategorie.image }}{% else %}{{ asset('/assets/img/default.jpeg') }}{% endif %}">
                                                </a></div>
                                        </td>
                                        <td style="width:40%">
                                            <div class="miniCartDescription">
                                                <h4>
                                                    <a href="{{ path('show_produit',{"id":article.id}) }}">{{ article.nom }} </a>
                                                </h4>
                                                <div class="price">
                                                     <span style="color:#df0c36; font-size: 15px;font-family: 'Open Sans', sans-serif;">
                                                         {{ article.finalPrice["prix"]|number_format(2, '.', ',') }} €
                                                     </span>
                                                    {% if article.finalPrice["is_promo"] and article.numProduitPromo == 1  %}
                                                        <span class="old-price">
                                                            {{ article.finalPrice["old_prix"]|number_format(2, '.', ',') }}€
                                                        </span>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </td>
                                        <td style="width:10%" class="miniCartQuantity"><a> X {{ nb_article }} </a>
                                        </td>
                                        <td style="width:15%" class="miniCartSubtotal">
                                            <span> {{ article.getTotalPrice(nb_article)["prix"]|number_format(2, '.', ',') }} € </span>
                                            {% if article.finalPrice["is_promo"] and nb_article >=   article.numProduitPromo %}
                                                <span class="old-price">
                                                            {{ article.getTotalPrice(nb_article)["old_prix"]|number_format(2, '.', ',') }}€
                                                        </span>
                                            {% endif %}
                                        </td>
                                        {% set total_price = total_price +  article.getTotalPrice(nb_article)["prix"] %}
                                        <td style="width:5%" class="delete"
                                            onclick="deleteArticle({{ article.id }},{{ nb_article * article.prix }} )">
                                            <a> x </a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!--/.miniCartTable-->

                        <div class="miniCartFooter text-right">
                            <h3 class="text-right subtotal">Total: <span
                                        class="total_price_cart">{{ total_price|number_format(2, '.', ',') }}</span> €
                            </h3>
                            <a class="btn btn-sm btn-danger" href="{{ path("panier") }}"> <i
                                        class="fa fa-shopping-cart"> </i>
                                Voir panier </a><a class="btn btn-sm btn-primary"
                                                   {% if panier|length > 0 %}href="{{ path("livraison") }}"
                                                   {% else %}href="{{ path("panier") }}"{% endif %}> PAYER </a></div>
                        <!--/.miniCartFooter-->

                    </div>
                    <!--/.dropdown-menu-->
                </div>
                <!--/.cartMenu-->


            </div>
            <!--/.navbar-nav hidden-xs-->
        </div>
        <!--/.nav-collapse -->

    </div>
    <!--/.container -->
    <div class="search-full text-right"><a class="pull-right search-close"> <i class=" fa fa-times-circle"> </i> </a>
        <form action="{{ path("list_produit") }}" method="get">
            <div class="searchInputBox pull-right">
                <input type="search" data-searchurl="keyword?=" name="keyword" placeholder="Rechercher un article"
                       class="search-input">
                <button class="btn-nobg search-btn" type="submit"><i class="fa fa-search"> </i></button>
            </div>
        </form>

    </div>
    <!--/.search-full-->
    <div style="    height: 6px;
    background: linear-gradient(90deg,#fff,#fff 37.17%,#c5c6c7);
    margin-top: -6px;"></div>


</div>
