{% extends '@Backend/layout/layout.html.twig' %}

{% block page %}
	<div class="page">


		<div class="page-header">
			<h1 class="page-title">Liste Des Commandes</h1>

			<div class="page-header-actions">
				<div class="row">
					<div class="col-lg-12">
						<div class="media-body text-center">
							<h4 class="mt-0 mb-5" style="color:#46bf8c;margin-bottom: 0px!important;"> {{ nbcommandes|length }}</h4>
							<small style="">Commandes</small>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="page-content" style="padding-top: 0 !important;padding-bottom: 0 !important;">
			<!-- Panel -->
			<div class="panel" >
				<div class="panel-body container-fluid" style="padding: 0 !important;">
					<div class="row row-lg">


						<div class="col-lg-12">
							<!-- Example Bordered Table -->
							<table class="table table-bordered" style="border: none;">
								<thead>
								<tr>
									<th style="border: none;">Filtre</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td style="border: none;">
										<form  class="row" style="align-items: center;max-width: 1520px;" action="{{ path('commande_gerant_index') }}" method="get">
											<div style="padding-top: 10px" class="col-lg-3  col-md-3 col-xs-3">
												<label class="control-label">Réference Produit </label>
												<input type="text" class="form-control" name="reference" value="{% if reference is defined %}{{reference}}{% endif %}" placeholder="reference">
											</div>
											<div class="col-lg-3  col-md-3 col-xs-3">
												<label class="control-label">Client </label>
												<input type="text" class="form-control" name="client" value="{% if client is defined %}{{client}}{% endif %}" placeholder="nom client">
											</div>
											<div class="col-lg-3  col-md-3 col-xs-3">
												<label class="control-label">Statut Commande</label>
												<select class="form-control" name="statutcommande">
													<option class="btn btn-block btn-default waves-effect waves-classic" value=""  selected>Tous</option>
													<option class="btn btn-block btn-default waves-effect waves-classic" value="0" {% if statutcommande is defined and statutcommande == '0' %} selected {% endif %}>Non Payée</option>
													<option class="btn btn-block btn-default waves-effect waves-classic" value="1" {% if statutcommande is defined and statutcommande == '1' %} selected {% endif %}>En cours de traitement</option>
													<option class="btn btn-block btn-default waves-effect waves-classic" value="2" {% if statutcommande is defined and statutcommande == '2' %} selected {% endif %}>Traitée</option>
													<option class="btn btn-block btn-default waves-effect waves-classic" value="3" {% if statutcommande is defined and statutcommande == '3' %} selected {% endif %}>Livrée</option>
													<option class="btn btn-block btn-default waves-effect waves-classic" value="4" {% if statutcommande is defined and statutcommande == '4' %} selected {% endif %}>Annulée</option>



												</select>
											</div>
											<div class="col-lg-3  col-md-3 col-xs-3">
												<label class="control-label">Statut Payement</label>
												<select class="form-control" name="statutpayement">
													<option class="btn btn-block btn-default waves-effect waves-classic" value=""  selected>Tous</option>
													<option class="btn btn-block btn-default waves-effect waves-classic" value="0" {% if statutpayement is defined and statutpayement == '0' %} selected {% endif %}>Non payée</option>
													<option class="btn btn-block btn-default waves-effect waves-classic" value="1" {% if statutpayement is defined and statutpayement == '1' %} selected {% endif %}>Payée</option>

												</select>
											</div>
											<br>
											<div style="padding-top: 10px" class="col-lg-2  col-md-2 col-xs-2">
												<label class="control-label">Remboursement </label>
												<select class="form-control" name="remboursement">
													<option class="btn btn-block btn-default waves-effect waves-classic" value=""  selected>Tous</option>
													<option class="btn btn-block btn-default waves-effect waves-classic" value="0" {% if remboursement is defined and remboursement == '0' %} selected {% endif %}>Non remboursée</option>
													<option class="btn btn-block btn-default waves-effect waves-classic" value="1" {% if remboursement is defined and remboursement == '1' %} selected {% endif %}>Remboursée</option>

												</select>
											</div>
											<div class="col-lg-3  col-md-3 col-xs-3">
												<label class="control-label">Periode de reception </label>
												<select class="form-control" name="periode">
													<option class="btn btn-block btn-default waves-effect waves-classic" value=""  selected>Tous</option>
													<option class="btn btn-block btn-default waves-effect waves-classic" value="1" {% if periode is defined and periode == '1' %} selected {% endif %}>De 8h à 10h </option>
													<option class="btn btn-block btn-default waves-effect waves-classic" value="2" {% if periode is defined and periode == '2' %} selected {% endif %}>De 10h à 12h </option>
													<option class="btn btn-block btn-default waves-effect waves-classic" value="3" {% if periode is defined and periode == '3' %} selected {% endif %}>De 12h à 14h </option>
													<option class="btn btn-block btn-default waves-effect waves-classic" value="4" {% if periode is defined and periode == '4' %} selected {% endif %}>De 14h à 16h </option>
													<option class="btn btn-block btn-default waves-effect waves-classic" value="5" {% if periode is defined and periode == '5' %} selected {% endif %}>De 16h à 18h </option>
													<option class="btn btn-block btn-default waves-effect waves-classic" value="6" {% if periode is defined and periode == '6' %} selected {% endif %}>De 18h à 20h </option>

												</select>
											</div>
											<div class="col-lg-4  col-md-4 col-xs-4">
												<label class="control-label">Date </label>
												<div class="input-daterange" data-plugin="datepicker">
													<div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="icon md-calendar" aria-hidden="true"></i>
                                                                </span>
														<input type="text" class="form-control" name="start" value="{% if start is defined  and start !=''%} {{ start }} {% endif %}" />
													</div>
													<div class="input-group">
														<span class="input-group-addon">to</span>
														<input type="text" class="form-control" name="end" value="{% if end  is defined and end !='' %} {{ end }} {% endif %}" />
													</div>
												</div>

											</div>
											<div class="col-lg-3  col-md-3 col-xs-3">
												<br>
												<button type="submit" class="float-right btn btn-icon social-evernote waves-effect waves-classic">
													<i class="icon icon md-search" aria-hidden="true"></i></button>

												<a href="{{ path('ExportGerantCommande') }}"  style="margin-right: 10px;" class="float-right btn  btn-icon  btn-dark waves-effect waves-classic waves-effect waves-classic">
													<i class="icon md-download" aria-hidden="true"></i> exporter</a>
											</div>
										</form>

									</td>
								</tr>
								</tbody>
							</table>

							<!-- End Example Bordered Table -->
						</div>

					</div>
				</div>
			</div>
			<!-- End Panel -->
		</div>
		<div class="page-content" style="padding-top: 0px " >
			<!-- Panel -->
			<div class="panel">
				<div class="panel-body container-fluid"  style="padding-left: 9px !important;padding-right: 9px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
					<div class="row row-lg">


						<div class="col-lg-12">
							<!-- Example Bordered Table -->

							<table class="table table-striped">
								<thead>
								<tr class="">
									<th style="padding-left: 20px;width: 10%">Réference </th>
									<th style="width: 20%">Client</th>
									<th style="width: 10%">Nombre Produits</th>
									<th style="width: 10%">Statut Commande</th>
									<th style="width: 10%">Statut Payement</th>
									<th style="width: 10%">Remboursement </th>
									<th style="width: 10%">Date de la commande</th>
									<th style="width: 10%">Date de retrait </th>
									<th class="text-right text-nowrap" style="padding-right:42px;width: 10%">Action</th>

								</thead>
								<tbody>

								{% for c in commandes %}
									<tr >
										<td  style="padding-left: 20px; " style="width: 100px;">{{ c.0.commande.reference }}
										</td>
										<td>
											<div class="media-body">
												<h5 class="mt-0 mb-5">{{ c.0.commande.utilisateur.firstName }} {{ c.0.commande.utilisateur.lastName }}</h5>
												<small>{{ c.0.commande.utilisateur.tel }}</small>
											</div>

										</td>
										<td>
											{{ c.nbproduit }}
										</td>
										<td>
											<span class="badge {{ c.0.commande.statusCommandeCssClass }}">{{ c.0.commande.statutCommandeToString }}</span>
										</td>
										<td>
											<span class="badge {{ c.0.commande.statusPayementCssClass }}">{{ c.0.commande.statutPayementToString }}</span>

										</td>
										<td>
											<span class="badge {{ c.0.commande.remboursementCssClass }}">{{ c.0.commande.remboursementToString }}</span>

										</td>
										<td >
											{{ c.0.commande.dateReservation|date("d/m/Y h:i") }}
										</td>
										<td>
											{{ c.0.commande.dateReception|date("d/m/Y")  }}	{{ c.0.commande.periodeToString }}
										</td>
										<td class="text-right" style="min-width: 110px;padding-right:20px;">


											{%  if c.0.commande.statutPayement == 1 %}
											<div class="btn-group">
												<a href="" class="btn btn-pure btn-default icon md-edit waves-effect waves-classic"id="exampleHoverDropdown1" data-hover="dropdown" data-delay="1000" data-toggle="dropdown" aria-expanded="false"></a>

												<div class="dropdown-menu" aria-labelledby="exampleHoverDropdown1" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
													<a href="{{ path('commnde_gerant_edit', { 'id': c.0.commande.id,'statut' :1 }) }}" class="dropdown-item" role="menuitem">
														<font style="vertical-align: inherit;">
															<font style="vertical-align: inherit;">En cours de traitement</font>
														</font>
													</a>
													<a href="{{ path('commnde_gerant_edit', { 'id': c.0.commande.id,'statut' :2 }) }}" class="dropdown-item" role="menuitem">
														<font style="vertical-align: inherit;">
															<font style="vertical-align: inherit;">Traitée</font>
														</font>
													</a>
													<a href="{{ path('commnde_gerant_edit', { 'id': c.0.commande.id,'statut' :3 }) }}" class="dropdown-item" role="menuitem">
														<font style="vertical-align: inherit;">
															<font style="vertical-align: inherit;">Livrée</font>
														</font>
													</a>
													<a href="{{ path('commnde_gerant_edit', { 'id': c.0.commande.id,'statut' :4 }) }}" class="dropdown-item" role="menuitem">
														<font style="vertical-align: inherit;">
															<font style="vertical-align: inherit;">Annulée</font>
														</font>
													</a>
												</div>

											</div>
											{% endif %}
											<a class="btn btn-pure btn-default icon  md-details waves-effect waves-classic" href="{{ path('commande_gerant_show', { 'id': c.0.commande.id }) }}">
												<i class="icon md-plus" aria-hidden="true"></i>
											</a>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
							<div class="navigation">
								{{ knp_pagination_render(commandes) }}
							</div>

							<!-- End Example Bordered Table -->
						</div>

					</div>
				</div>
			</div>
			<!-- End Panel -->
		</div>

		</div>
{% endblock %}