<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap material admin template">
    <meta name="author" content="">

    <title>Total</title>
    {% block stylesheets %}
        <link rel="apple-touch-icon" href="{{ asset('remark/assets/images/apple-touch-icon.png') }}">
        <link rel="shortcut icon" href="{{ asset('remark/images/favicon.png') }}">


        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ asset('remark/global/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('remark/global/css/bootstrap-extend.min.css') }}">
        <link rel="stylesheet" href="{{ asset('remark/assets/css/site.min.css') }}">
        <!-- Plugins -->
        <link rel="stylesheet" href="{{ asset('remark/global/vendor/animsition/animsition.css') }}">
        <link rel="stylesheet" href="{{ asset('remark/global/vendor/asscrollable/asScrollable.css') }}">
        <link rel="stylesheet" href="{{ asset('remark/global/vendor/switchery/switchery.css') }}">
        <link rel="stylesheet" href="{{ asset('remark/global/vendor/intro-js/introjs.css') }}">
        <link rel="stylesheet" href="{{ asset('remark/global/vendor/slidepanel/slidePanel.css') }}">
        <link rel="stylesheet" href="{{ asset('remark/global/vendor/flag-icon-css/flag-icon.css') }}">
        <link rel="stylesheet" href="{{ asset('remark/global/vendor/waves/waves.css') }}">
        <link rel="stylesheet" href="{{ asset('remark/global/vendor/select2/select2.css') }}?v1">
        <link rel="stylesheet" href="{{ asset('remark/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css') }}">
        <link rel="stylesheet" href="{{ asset('remark/global/vendor/dropify/dropify.css') }}">

        <!-- Fonts -->
        <link rel="stylesheet" href="{{ asset('remark/global/fonts/material-design/material-design.min.css') }}">
        <link rel="stylesheet" href="{{ asset('remark/global/fonts/brand-icons/brand-icons.min.css') }}">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
        <style>
            .btn-pure.btn-default.active.focus, .btn-pure.btn-default.active:focus, .btn-pure.btn-default.active:hover, .btn-pure.btn-default:active.focus, .btn-pure.btn-default:active:focus, .btn-pure.btn-default:active:hover, .btn-pure.btn-default:focus.focus, .btn-pure.btn-default:focus:focus, .btn-pure.btn-default:focus:hover, .btn-pure.btn-default:hover.focus, .btn-pure.btn-default:hover:focus, .btn-pure.btn-default:hover:hover, .open>.btn-pure.btn-default.dropdown-toggle.focus, .open>.btn-pure.btn-default.dropdown-toggle:focus, .open>.btn-pure.btn-default.dropdown-toggle:hover {
                color: #46bf8c!important;
            }
        </style>
    {% endblock %}
    <script src="{{ asset('remark/global/vendor/breakpoints/breakpoints.js') }}"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="animsition dashboard">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

{% block body %}{% endblock %}
<!-- End Page -->


<!-- Footer -->
<!-- Core  -->
{% block javascripts %}

    <script src="{{ asset('remark/global/vendor/babel-external-helpers/babel-external-helpers.js') }}"></script>
    <script src="{{ asset('remark/global/vendor/jquery/jquery.js') }}"></script>
    <script src="{{ asset('remark/global/vendor/popper-js/umd/popper.min.js') }}"></script>
    <script src="{{ asset('remark/global/vendor/bootstrap/bootstrap.js') }}"></script>
    <script src="{{ asset('remark/global/vendor/animsition/animsition.js') }}"></script>
    <script src="{{ asset('remark/global/vendor/mousewheel/jquery.mousewheel.js') }}"></script>
    <script src="{{ asset('remark/global/vendor/asscrollbar/jquery-asScrollbar.js') }}"></script>
    <script src="{{ asset('remark/global/vendor/asscrollable/jquery-asScrollable.js') }}"></script>
    <script src="{{ asset('remark/global/vendor/ashoverscroll/jquery-asHoverScroll.js') }}"></script>
    <script src="{{ asset('remark/global/vendor/waves/waves.js') }}"></script>
    <script src="{{ asset('remark/global/vendor/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('remark/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
    <!-- Plugins -->
    <script src="{{ asset('remark/global/vendor/switchery/switchery.js') }}"></script>
    <script src="{{ asset('remark/global/vendor/intro-js/intro.js') }}"></script>
    <script src="{{ asset('remark/global/vendor/screenfull/screenfull.js') }}"></script>
    <script src="{{ asset('remark/global/vendor/slidepanel/jquery-slidePanel.js') }}"></script>

    <!-- Scripts -->
    <script src="{{ asset('remark/global/js/Component.js') }}"></script>
    <script src="{{ asset('remark/global/js/Plugin.js') }}"></script>
    <script src="{{ asset('remark/global/js/Base.js') }}"></script>
    <script src="{{ asset('remark/global/js/Config.js') }}"></script>
    <script src="{{ asset('remark/global/js/Plugin/select2.js') }}"></script>


    <script src="{{ asset('remark/assets/js/Section/Menubar.js') }}"></script>
    <script src="{{ asset('remark/assets/js/Section/GridMenu.js') }}"></script>
    <script src="{{ asset('remark/assets/js/Section/Sidebar.js') }}"></script>
    <script src="{{ asset('remark/assets/js/Section/PageAside.js') }}"></script>
    <script src="{{ asset('remark/assets/js/Plugin/menu.js') }}"></script>

    <script src="{{ asset('remark/global/js/config/colors.js') }}"></script>
    <script src="{{ asset('remark/assets/js/config/tour.js') }}"></script>
    <script>Config.set('assets', 'assets');</script>

    <!-- Page -->
    <script src="{{ asset('remark/assets/js/Site.js') }}"></script>
    <script src="{{ asset('remark/global/js/Plugin/asscrollable.js') }}"></script>
    <script src="{{ asset('remark/global/js/Plugin/slidepanel.js') }}"></script>
    <script src="{{ asset('remark/global/js/Plugin/switchery.js') }}"></script>
    <script src="{{ asset('remark/global/js/Plugin/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('remark/global/vendor/dropify/dropify.min.js') }}"></script>
    <script src="{{ asset('remark/assets/examples/js/charts/peity.js') }}"></script>
    <script src="{{ asset('remark/global/js/Plugin/dropify.js') }}"></script>

    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });

        })(document, window, jQuery);
    </script>
{% endblock %}


</body>
</html>
