<div class="item col-sm-3 col-lg-3 col-md-3 col-xs-6">
    <div class="product">

        <div class="image">
            <img id="img{{ produit.id }}" data-original="/uploads/produits/{{ produit.image }}"
                 src="{% if produit.sousCategorie and produit.sousCategorie.image and produit.sousCategorie.image != "" %}/uploads/produits/{{ produit.sousCategorie.image }}{% else %}{{ asset('/assets/img/default.png') }}{% endif %}"
                 alt="{{ produit.nom }}"
                 class="img-responsive lazy">
            {% if produit.quantite >0 %}
                {% if produit.finalPrice["is_promo"] and produit.numProduitPromo == 1   %}
                    <div class="promotion">
                                    <span class="discount" style="    font-weight: 400;">Promotion {{  produit.finalPrice["percentage"]|number_format(0, '.', ',') }}%
                                    </span>
                    </div>
                {% endif %}
                {% if produit.finalPrice["is_promo"] and produit.numProduitPromo > 1  %}
                    <div class="promotion">
                                    <span class="discount" style="    font-weight: 400;"> {{  produit.finalPrice["percentage"]|number_format(0, '.', ',') }}%
                                        sur le {{ produit.numProduitPromo }}ème produit
                                    </span>
                    </div>
                {% endif %}
            {% else %}
                <div class="promotion">
                    <span class="horsstock" style="    font-weight: 400;">
                        HORS STOCK
                    </span>
                </div>
            {% endif %}
        </div>
        <br>
        <div class="description" style="min-height: 44px;">
            <a href="#"><span
                        style="color:#545454; font-size: 16px;font-family: 'Open Sans', sans-serif"> {{ produit.nom }} </span></a>
        </div>
        <div class="list-description"><p>{{ produit.description }}</p></div>
        <!--<div class="price"><span style="color:#df0c36; font-size: 22px;font-family: 'Open Sans', sans-serif;"><b>{{ produit.prix }} €</b></span></div>-->
        <div class="price">
            <span style="color:#df0c36; font-size: 22px;font-family: 'Open Sans', sans-serif;">
                {{ produit.finalPrice["prix"]|number_format(2, '.', ',') }} €
            </span>
            {% if produit.finalPrice["is_promo"] and produit.numProduitPromo == 1  %}
                <span class="old-price">
                    {{ produit.finalPrice["old_prix"]|number_format(2, '.', ',') }}€
                </span>
            {% endif %}
        </div>

        <div  class="row" id="quantite{{ produit.id }}" name="quantite{{ produit.id }}" style="padding-bottom: 10px;" disabled="none" hidden >
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6"  style="    margin-top: 10px;">
                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button  id="deleteArticle{{ produit.id }}"
                                                 onclick="deleteArticleQuantity({{ produit.id }},{{ produit.prix }})"    type="button" class="quantity-left-minus btn btn-danger btn-number" style="background-color:#df0c36" data-type="minus" data-field="">
                                          <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                    <input style="padding: 0px 0px 0px 8px" type="number" id="qte{{ produit.id }}" name="qte{{ produit.id }}"
                           class="form-control input-number text-center"
                            {% if app.session.get('panier')[produit.id] is defined %}
                                value="{{ app.session.get('panier')[produit.id] }}"
                            {% else %}
                                value="0"
                            {% endif %}  min="1" max="100" disabled>
                    <span class="input-group-btn">
                                        <button id="addArticle{{ produit.id }}"
                                                onclick="addArticle({{ produit.id }},{{ produit.quantite }})"

                                                type="button" class="quantity-right-plus btn btn-success btn-number" style="background-color:#df0c36" data-type="plus" data-field="">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                </div>
            </div>
            <div class="col-lg-2">
            </div>

        </div>
        <div class="action-control" id="addcart{{ produit.id }}" name="addcart{{ produit.id }}">
            {% if produit.quantite == 0 %}
                <button disabled type="button" style="background: none;border: none;"
                        data-loading-text="<i class='fa fa-spinner fa-spin '> </i> Chargement">
                                            <span class="add2cart" style="color:#8c8586;">Ajouter au panier
                                                <i class="glyphicon glyphicon-shopping-cart"> </i>
                                            </span>
                </button>
            {% else %}

                <button type="submit" style="background: none;border: none;"
                        id="btn-panier{{ produit.id }}"
                        onclick="enabledivquantity({{ produit.id }},{{ produit.quantite  }})"
                        data-loading-text="<i class='fa fa-spinner fa-spin '> </i> Chargement">
                                        <span class="add2cart" style="color:#df0c36;">Ajouter au panier
                                            <i class="glyphicon glyphicon-shopping-cart"> </i>
                                        </span>
                </button>
            {% endif %}
        </div>

    </div>
</div>
<script>


    function enabledivquantity(id,quantite) {
        var qte = parseInt(  $("#qte"+id).val());
        if(qte + 1  > quantite  ){

            $("document").ready(function () {
                console.log('modal-panier')
                $('#modal-panier').modal({
                    backdrop: 'static',
                    keyboard: false
                });
                //  $('select').select2();
            })
        }
        else {
            var quantity = document.getElementById("quantite"+id);
            var btncart = document.getElementById("addcart"+id);
            quantity.style.display = "block";
            btncart.style.display = "none";
            addArticle(id, quantite);
        }
    }

</script>
