{% xlsdocument %}
    {% xlssheet 'Worksheet' {
        columnDimension: {
            'default': {
                autoSize: true
            }
        }
    } %}
        {% xlsrow %}
            {% xlscell { style: { font: { size: '14' } }, margin: { left: '140' } } %}Reference{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}Client {% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}Nombre Produit{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}Statut Commande{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}Statut Payement {% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}Remboursement {% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}Date Reservation {% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}Periode Reception {% endxlscell %}




        {% endxlsrow %}
        {% for Modele in Modeles %}
            {% xlsrow %}
                {% xlscell { style: { font: { size: '10' } } } %}{{ Modele.0.commande.reference  }} {% endxlscell %}
                {% xlscell { style: { font: { size: '10' } } } %}{{ Modele.0.commande.utilisateur.firstName }} {{ Modele.0.commande.utilisateur.lastName }}{% endxlscell %}
                {% xlscell { style: { font: { size: '10' } } } %}{{ Modele.nbproduit }} {% endxlscell %}

                {% xlscell { style: { font: { size: '10' } } } %}
                    {% if  Modele.0.commande.statutcommande == 0 %}
                       Non traitée
                    {% endif %}
                    {% if  Modele.0.commande.statutcommande == 1 %}
                        En cours de traitement
                    {% endif %}
                    {% if  Modele.0.commande.statutcommande == 2 %}
                        Traitée
                    {% endif %}
                    {% if  Modele.0.commande.statutcommande == 3 %}
                        Livrée
                    {% endif %}
                    {% if  Modele.0.commande.statutcommande == 4 %}
                        Annulée
                    {% endif %}

                {% endxlscell %}
                {% xlscell { style: { font: { size: '10' } } } %}
                    {% if  Modele.0.commande.statutpayement == 0 %}
                        Non payée
                    {% endif %}
                    {% if  Modele.0.commande.statutpayement == 1 %}
                        Payée
                    {% endif %}
                {% endxlscell %}
                {% xlscell { style: { font: { size: '10' } } } %}
                    {% if  Modele.0.commande.remboursement == 0 %}
                        Non remboursée
                    {% endif %}
                    {% if  Modele.0.commande.remboursement == 1 %}
                        Remboursée
                    {% endif %}
                {% endxlscell %}

                {% xlscell { style: { font: { size: '10' } } } %}{{ Modele.0.commande.dateReservation|date("m/d/Y h:i")  }} {% endxlscell %}
                {% xlscell { style: { font: { size: '10' } } } %}
                    {% if  Modele.0.commande.periodeReception == 1 %}
                        de 8h à 10h
                    {% endif %}
                    {% if  Modele.0.commande.periodeReception == 2 %}
                        de 10h à 12h
                    {% endif %}
                    {% if  Modele.0.commande.periodeReception == 3 %}
                        de 12h à 14h
                    {% endif %}
                    {% if  Modele.0.commande.periodeReception == 4 %}
                        de 14h à 16h
                    {% endif %}
                    {% if  Modele.0.commande.periodeReception == 5 %}
                        de 16h à 18h
                    {% endif %}
                    {% if  Modele.0.commande.periodeReception == 6 %}
                        de 18h à 20h
                    {% endif %}
                {% endxlscell %}

            {% endxlsrow %}
        {% endfor %}
    {% endxlssheet %}
{% endxlsdocument %}