{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('assets/css/pickmeup.css') }}" rel="stylesheet">

{% endblock stylesheets %}
{% block breadcrump %}
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/">Accueil</a></li>
                <li><a href="{{ path("panier") }}">Panier</a></li>
                <li class="active"> Créneau</li>
            </ul>
        </div>
    </div>
{% endblock breadcrump %}
{% block content %}

    <!--/.row-->

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs">
            <h1 class="section-title-inner"><span><i class="fa fa-calandar "></i> Sélectionnez votre créneau de retrait</span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar col-xs-6 col-xxs-12 text-center-xs">
            <h4 class="caps"><a href="{{ path("list_produit") }}"><i class="fa fa-chevron-left"></i> Continuez vos achats </a></h4>


        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <div class="w100 clearfix">
                        <ul class="orderStep orderStepLook2">
                            <li>
                                <a style="color: #A09F9F;cursor: default;"> <i class="fa fa-map-marker"></i> <span> 1.Point de retrait</span></a>
                            </li>
                            <li >
                                <a href="{{ path("panier") }}"> <i class="glyphicon glyphicon-shopping-cart"></i> <span> 2.Panier</span></a>
                            </li>
                            <li class="active">
                                <a > <i class="fa fa-calendar"></i><span> 3.Créneau </span></a>
                            </li>
                            <li>
                                <a style="color: #A09F9F;cursor: default;"><i class="fa fa-check-square "> </i><span>4.Confirmer</span></a>
                            </li>
                            <li>
                                <a style="color: #A09F9F;cursor: default;"><i class="fa fa-money"> </i><span>5.Paiement</span></a>
                            </li>
                        </ul>
                        <!--/.orderStep end-->
                    </div>


                    <style>
                        .radio-adresse label{
                            margin-bottom: 20px;
                            font-weight: 300;
                        }
                        .radio-adresse .fa{
                            vertical-align: top;
                            margin-top: 4px;
                        }
                        .delegation_select .delegation{
                            width: 90% !important;
                            display: inline;
                        }
                    </style>


                    <div class="w100 clearfix"  style="margin-bottom: 20px">
                        <!--/row end-->
                        <h1 class="section-title-inner" style="margin-top:30px;border-bottom: 1px solid #CECECE;"><span><i
                                        class="glyphicon glyphicon-calendar"></i> Choisir une date de retrait </span></h1>

                        <div class="row" style="margin-top: 25px">
                            {% if station.isOpen == false %}
                            <div class="col-md-8    ">
                                <h3 style="color:#df0c36" ><i class="fa fa-exclamation-circle"></i> La station ne travaille pas les dimanches</h3>
                            <input id="isOpen" value="false" hidden >
                            </div>
                            {% else %}
                                <div class="col-md-8 ">
                                    <input id="isOpen" value="true" hidden >

                                </div>
                            {% endif %}
                            <div class="col-md-8    ">

                                <h3> Date de retrait: </h3>
                                <div class="single"></div>
                            </div>

                            <style>
                                .iCheck-margin {
                                    margin-bottom: 15px;
                                }
                            </style>
                            <div class="col-md-4">
                                <h3> Heure de retrait: </h3>
                                {% set i = 0 %}
                                {%  for   horaire in station.horaires %}
                                    {% set i = i + 1 %}
                                    <input type="radio" name="periode"  id="periode-{{ horaire }}" value="{{ horaire }}"
                                            {% if i == 1 %} checked="" {% endif %}>
                                    <label  style="margin-bottom: 15px;" for="periode-{{ horaire }}" class="radio-inline">{{ station.horaireFromIndex(horaire) }}</label>
                               <br>
                                {% endfor %}



                            </div>
                        </div>

                    </div>
                    <div class="cartFooter w100">
                        <div class="box-footer">
                            <div class="pull-left"><a class="btn btn-default" href="#"> <i
                                        class="fa fa-arrow-left"></i> &nbsp; Retour à l'accueil </a></div>
                            <div class="pull-right">
                                <a class="btn btn-primary btn-small "  onclick="goToAdresse()">
                                    Valider <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--/ cartFooter -->

                </div>
            </div>
            <!--/row end-->

        </div>
        
    </div>
    <!--/row-->

    <div style="clear:both"></div>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/pickmeup.js') }}"></script>
    <script>
        selected_date = new Date();
		selected_date.setDate(selected_date.getDate() + 1)
        console.log(selected_date);
        {% if date.periode is defined %}
        $('input:radio[name="periode"][value="{{ date.periode }}"]').attr('checked', true);
        {% endif %}

        {% if date.date  is defined %}
        selected_date = "{{ date.date }}";
        {% endif %}

        addEventListener('DOMContentLoaded', function () {

            pickmeup('.single', {
                flat: true,
                format: 'Y-m-d'
            }).set_date(selected_date);


        });

        function goToAdresse() {
            var isOpen = document.getElementById("isOpen").value ;

            date = pickmeup('.single').get_date("Y-m-d");
            periode = $('input:radio[name=periode]:checked').val();
            //livraison = $('input:radio[name=livraison]:checked').val();
            //facturation = $('input:radio[name=facturation]:checked').val();
            date_retrait=new Date(pickmeup('.single').get_date("Y-m-d"))
            if(new Date(pickmeup('.single').get_date("Y-m-d"))<new Date()){
                $(".btn-small").tooltip("destroy");
                $(".btn-small").attr("data-toggle","tooltip");
                $(".btn-small").attr("title","Le retrait n´est possible qu´à partir du lendemain  \n de la date de la commande.");
                $(".btn-small").tooltip("show");
            }
            else if ((date_retrait.getDay() == 0 ) && (isOpen == 'false')){
                $(".btn-small").tooltip("destroy");
                $(".btn-small").attr("data-toggle","tooltip");
                $(".btn-small").attr("title","La station ne travaille pas \n  les dimanches");
                $(".btn-small").tooltip("show");
            }
            else{
                $(".btn-small").tooltip("destroy");
                window.location.href = '{{ "validationAdresse" }}?date=' + date + '&periode=' + periode;
            }

        }


       /* $("#btn-add-adress").click(function(event){
            console.log("tteell");
            var reg = new RegExp(/^\+216 [0-9]*$/);
        if (!reg.test($("#webbundle_utilisateursadresses_telephone").val())) {
            event.preventDefault();
            $("#webbundle_utilisateursadresses_telephone").attr("data-toggle","tooltip");
            $("#webbundle_utilisateursadresses_telephone").attr("data-placement","bottom");
            $("#webbundle_utilisateursadresses_telephone").attr("title","Vérifier format du télephone \n Exp: +216 90909090");
            $("#webbundle_utilisateursadresses_telephone").tooltip("show");
        }else{
            $("#webbundle_utilisateursadresses_telephone").tooltip("destroy");
        }
        });*/
    </script>
{% endblock %}
