{% set totalHT = 0 %}
{% set totalTTC = 0 %}
{% set refTva = {} %}






{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}


{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('assets/css/pickmeup.css') }}" rel="stylesheet">

{% endblock stylesheets %}

{% block breadcrump %}
    <ul class="breadcrumb">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Categories</a></li>
        <li class="active">Panier</li>
    </ul>
{% endblock breadcrump %}

{% block content %}

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs">
            <h1 class="section-title-inner"><span><i
                            class="glyphicon glyphicon-shopping-cart"></i> Panier d'achat </span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar col-xs-6 col-xxs-12 text-center-xs">
            <h4 class="caps"><a href="{{ path("list_produit") }}"><i class="fa fa-chevron-left"></i> Continuez vos achats </a></h4>
        </div>
    </div>
    <!--/.row-->



    <div class="row">
        <form name="aa" method="get" action="{{ path("update_cart") }}">
            <div class="col-lg-9 col-md-9 col-sm-7">
                <div class="row userInfo">
                    <div class="col-xs-12 col-sm-12">


                        <div class="w100 clearfix">
                            <ul class="orderStep orderStepLook2">
                                <li>
                                    <a style="color: #A09F9F;cursor: default;"> <i class="fa fa-map-marker"></i> <span> 1.Point de retrait</span></a>
                                </li>
                                <li class="active">
                                    <a href="#"> <i class="glyphicon glyphicon-shopping-cart"></i> <span> 2.Panier</span></a>
                                </li>
                                <li>
                                    <a style="color: #A09F9F;cursor: default;"> <i class="fa fa-calendar"></i><span> 3.Créneau </span></a>
                                </li>
                                <li>
                                    <a style="color: #A09F9F;cursor: default;"><i class="fa fa-check-square "> </i><span>4.Confirmer</span></a>
                                </li>
                                <li>
                                    <a style="color: #A09F9F;cursor: default;"><i class="fa fa-money"> </i><span>5.Paiement</span></a>
                                </li>
                            </ul>
                            <!--/.orderStep end-->
                        </div>


                        <div class="cartContent w100">
                            {% for message in app.session.flashBag.get('produitfini') %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                            <table class="cartTable table-responsive" style="width:100%">
                                <tbody>
                                <tr class="CartProduct cartTableHeader">
                                    <td style="width:15%"> Produit</td>
                                    <td style="width:40%">Détails</td>
                                    <td style="width:10%" class="delete">&nbsp;</td>
                                    <td style="width:10%">QNT</td>
                                    <td style="width:15%">Total</td>
                                </tr>
                                {% set total_price = 0 %}
                                {% for produit in produits %}
                                    {% set nb_article = panier[produit.id] %}
                                    <tr class="CartProduct product-{{ produit.id }}">
                                        <td class="CartProductThumb">
                                            <div><a href="#"><img class="lazy"
                                                                  alt="{{ produit.nom }}"
                                                                  data-original="/uploads/produits/{{ produit.image }}"
                                                                  src="{%  if produit.SousCategorie  and produit.SousCategorie.image  and produit.SousCategorie.image != "" %}/uploads/produits/{{ produit.SousCategorie.image }}{% else %}{{ asset('/assets/img/default.jpeg') }}{% endif %}"

                                                    ></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="CartDescription">
                                                <h4><a href="#">{{ produit.nom }}</a></h4>
                                                <div class="price">
                                                    <span> {{ produit.finalPrice["prix"]|number_format(2, '.', ',') }} €</span>
                                                    {% if produit.finalPrice["is_promo"] and produit.numProduitPromo == 1  %}
                                                        <span class="old-price">
                                                            {{ produit.finalPrice["old_prix"]|number_format(2, '.', ',') }}€
                                                        </span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="delete"
                                            onclick="deleteArticlePagePanier({{ produit.id }},{{ panier[produit.id] * produit.prix }},{% if app.user %}'true'{% else %}'false'{% endif %})">
                                            <a title="Delete"> <i
                                                        class="glyphicon glyphicon-trash fa-2x"></i></a></td>
                                        <td>
                                            <input class="quanitySniper" type="text" value="{{ panier[produit.id] }}"
                                                   name="qte[]"></td>
                                        <td class="price">
                                            {{ produit.getTotalPrice(panier[produit.id])["prix"]|number_format(2, '.', ',') }}€
                                            {% if produit.finalPrice["is_promo"] and panier[produit.id] >=   produit.numProduitPromo %}
                                                <span class="old-price">
                                                            {{ produit.getTotalPrice(panier[produit.id])["old_prix"]|number_format(2, '.', ',') }}€
                                                        </span>
                                            {% endif %}



                                        </td>
                                    </tr>
                                    {% set total_price = total_price +  produit.getTotalPrice(panier[produit.id])["prix"] %}
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <!--cartContent-->

                        <div class="cartFooter w100">
                            <div class="box-footer">
                                <div class="pull-left"><a href="{{ path("list_produit") }}" class="btn btn-default"> <i
                                                class="fa fa-arrow-left"></i> &nbsp; Continuez vos achats </a></div>
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-undo"></i>&nbsp;
                                        Mise à jour du panier
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--/ cartFooter -->

                    </div>
                </div>
                <!--/row end-->

            </div>
        </form>
        <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
            <div class="contentBox">
                <div class="w100 costDetails">
                    <div class="table-block" id="order-detail-content">
                        <a id="btn-livrer"
                           class="btn btn-{% if (not app.user and panier|length >0)or(app.user and panier|length<=0) %}primary{% else %}primary{% endif %} btn-lg btn-block "
                                {% if not app.user %}
                                    href="{{ path('fos_user_security_login') }}"
                                {% endif %}
                           title="checkout"
                                {% if app.user and panier|length >0 %}
                                    href="{{ path("verification_panier") }}"
                                {% endif %}
                           style="margin-bottom:20px; font-size: 13px;">
                            {% if not app.user and panier|length >0 %}Se Connecter pour commander&nbsp;<i
                                    class="fa fa-exclamation-circle"></i>
                            {% elseif app.user and panier|length<=0 %}Panier vide <i
                                    class="fa fa-exclamation-circle"></i>
                            {% else %}Sélectionnez votre créneau <i class="fa fa-arrow-right"></i>
                            {% endif %}
                        </a>

                        <div class="w100 cartMiniTable">
                            <table id="cart-summary" class="std table">
                                <tbody>
                                <tr>
                                    <td> Total Commande</td>
                                </tr>
                                <tr>
                                    <td class=" site-color"><span
                                                id="total-price">{{ total_price|number_format(2, '.', ',') }}</span><span
                                                class=" site-color"> € TTC</span></td>
                                </tr>

                                </tbody>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End popular -->

        </div>
        <!--/rightSidebar-->

    </div>
    <!--/.row-->
    <script>



    </script>

{% endblock %}


