{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}


    {% block breadcrump %}
        <div class="row">
            <div class="breadcrumbDiv col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="/">Aceuil</a></li>
                    <li><a href="{{ path("panier") }}">Panier</a></li>
                    <li class="active"> Confirmer</li>
                </ul>
            </div>
        </div>
    {% endblock breadcrump %}
    {% block content %}
        <div class="row">
            <div class="col-lg-12 ">
                <div class="row userInfo">

                    <div class="thanxContent text-center">

                        <h1> Merci d'avoir passé votre commande chez nous , <a href="#">#{{ reference }}</a></h1>


                    </div>

                    <div class="col-lg-7 col-center">
                        <h4></h4>

                        <div class="cartContent table-responsive  w100">
                            <table style="width:100%" class="cartTable cartTableBorder">
                                <tbody>

                                <tr class="CartProduct  cartTableHeader">
                                    <td colspan="2"> Articles à expédier</td>


                                    <td style="width:15%"></td>
                                </tr>

                                {% for produit in produits %}
                                    <tr class="CartProduct">
                                        <td class="CartProductThumb">
                                            <div><a href=""><img class="lazy"
                                                                 alt="{{ produit.produit.nom }}"
                                                                 src="{% if produit.produit.sousCategorie.image != "" and produit.produit.sousCategorie.image %}/uploads/produits/{{ produit.produit.sousCategorie.image }}{% else %}{{ asset('/assets/img/default.png') }}{% endif %}"
                                                                                     data-original="/uploads/produits/{{ produit.produit.sousCategorie.image }}"></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="CartDescription">
                                                <h4><a href="">{{ produit.produit.nom }} </a></h4>

                                                <div class="price">
                                                    {{ produit.produit.finalPrice["prix"]|number_format(2, '.', ',') }} €
                                                    {% if produit.produit.finalPrice["is_promo"] and produit.produit.numProduitPromo == 1  %}
                                                        <span class="old-price">
                                                            {{ produit.produit.finalPrice["old_prix"]|number_format(2, '.', ',') }}€
                                                        </span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>


                                        <td class="price">
                                            {{ produit.produit.getTotalPrice(produit.quantite)["prix"]|number_format(2, '.', ',') }}€
                                            {% if produit.produit.finalPrice["is_promo"] and produit.quantite >=   produit.produit.numProduitPromo %}
                                                <span class="old-price">
                                                            {{ produit.produit.getTotalPrice(produit.quantite)["old_prix"]|number_format(2, '.', ',') }}€
                                                        </span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <td style="text-align: center;">
                                    <h4 style="margin-top: 13px;"><b>Total commande</b></h4>
                                </td>
                                <td></td>
                                <td style="text-align: center;">
                                    <h4 style="margin-top: 13px;"><b>{{ totale|number_format(2, '.', ',') }} € TTC</b></h4>
                                </td>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <!--/row end-->

            </div>

            <!--/rightSidebar-->

        </div>
    {% endblock %}