{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}


{% block breadcrump %}
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/">Acceuil</a></li>
                <li><a href="{{ path("panier") }}">Panier</a></li>
                <li><a href="{{ path("livraison") }}">Adresse</a></li>
                <li class="active"> Confirmer</li>
            </ul>
        </div>
    </div>
{% endblock breadcrump %}
{% block content %}

    <!--/.row-->

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs">
            <h1 class="section-title-inner"><span><i class="fa fa-check-square "></i> Confirmer</span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar col-xs-6 col-xxs-12 text-center-xs">
            <h4 class="caps"><a href="{{ path("list_produit") }}"><i class="fa fa-chevron-left"></i> Continuez vos achats </a></h4>

        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="row userInfo">

                <div class="col-xs-12 col-sm-12">



                    <div class="w100 clearfix">
                        <ul class="orderStep orderStepLook2">
                            <li>
                                <a style="color: #A09F9F;cursor: default;"> <i class="fa fa-map-marker"></i> <span> 1.Point de retrait</span></a>
                            </li>
                            <li>
                                <a href="{{ path("panier") }}"> <i class="glyphicon glyphicon-shopping-cart"></i> <span> 2.Panier</span></a>
                            </li>
                            <li>
                                <a href="{{ path("livraison") }}"> <i class="fa fa-calendar"></i><span> 3.Crénau </span></a>
                            </li>
                            <li class="active">
                                <a ><i class="fa fa-check-square "> </i><span>4.Confirmer</span></a>
                            </li>
                            <li>
                                <a style="color: #A09F9F;cursor: default;"><i class="fa fa-money"> </i><span>5.Paiement</span></a>
                            </li>
                        </ul>
                        <!--/.orderStep end-->
                    </div>

                    <div class="w100 clearfix">


                        <div class="row userInfo">

                            <div class="col-lg-12">
                                <h2 class="block-title-2"> Valider mon panier </h2>
                            </div>


                            <div class="col-xs-12 col-sm-12">
                                <div class="cartContent w100 checkoutReview ">
                                    <table class="cartTable table-responsive" style="width:100%">
                                        <tbody>
                                            <tr class="CartProduct cartTableHeader">
                                                <th style="width:15%"> Produit</th>
                                                <th class="checkoutReviewTdDetails">Détails</th>
                                                <th style="width:10%">Prix unitaire</th>
                                                <th class="hidden-xs" style="width:5%">QT</th>
                                                <th style="width:15%">Total</th>
                                            </tr>

                                            {% for produit in produits %}
                                                <tr class="CartProduct">
                                                    <td class="CartProductThumb">
                                                        <div><a href="#"><img class="lazy"
                                                                              src="{% if produit.produit.sousCategorie.image != "" and produit.produit.sousCategorie.image %}/uploads/produits/{{ produit.produit.sousCategorie.image }}{% else %}{{ asset('/assets/img/default.png') }}{% endif %}"

                                                                              data-original="{{ produit.produit.sousCategorie.image }}" alt="{{ produit.produit.id }}"></a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="CartDescription">
                                                            <h4>
                                                                <a href="#">{{ produit.produit.nom }}</a>
                                                            </h4>

                                                        </div>
                                                    </td>
                                                    <td>
                                                        {{ produit.produit.finalPrice["prix"]|number_format(2, '.', ',') }} €
                                                        {% if produit.produit.finalPrice["is_promo"] and produit.produit.numProduitPromo == 1  %}
                                                            <span class="old-price">
                                                            {{ produit.produit.finalPrice["old_prix"]|number_format(2, '.', ',') }}€
                                                        </span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="hidden-xs">{{ produit.quantite }}</td>
                                                    <td class="price">
                                                        {{ produit.produit.getTotalPrice(produit.quantite)["prix"]|number_format(2, '.', ',') }}€
                                                        {% if produit.produit.finalPrice["is_promo"] and produit.quantite >=   produit.produit.numProduitPromo %}
                                                            <span class="old-price">
                                                            {{ produit.produit.getTotalPrice(produit.quantite)["old_prix"]|number_format(2, '.', ',') }}€
                                                        </span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                                <tr>
                                                    <td>
                                                        <h4 style="padding-top:15px"><b>Total commande</b></h4>
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td class="price" style="float: right;">
                                                        <h4>
                                                            <h4 style="padding-top:15px" id="total-price">{{ commande.prix|number_format(2, '.', ',')}} €</h4>
                                                        </h4>
                                                    </td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--cartContent-->

                                <div class="w100 costDetails">
                                    <div class="table-block" id="order-detail-content">
                                        <table class="std table" id="cart-summary">
                                            <tr>

                                            </tr>

                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--/costDetails-->


                                <!--/row-->


                                <div class="row" style="margin: 25px 0px">
                                    <div class="col-md-8">

                                        <h4 style="font-weight:bold;"> Point de retrait: </h4>
                                        <h5>{{station.nom}}</h5>
                                        <h5>{{station.adresse}}</h5>
                                        <h5>Zone: {{station.zone}}</h5>
                                        {% if  station.tel %}
                                        <h5>Tel: {{station.tel}}</h5>
                                        {% endif %}
                                        {% if email and email !="" %}
                                        <h5>  E-mail: {{ email }}</h5>
                                            <br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                                            <br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                                        {% endif %}

                                    </div>

                                    <div class="col-md-4">

                                        <h4 style="font-weight:bold;"> Date et heure de retrait: </h4>
                                        <h5> Le {{ commande.dateReception | date("Y-m-d") }} {{ commande.periodeToString  }}</h5>

                                    </div>
                                </div>


                            </div>


                        </div>


                    </div>
                    <!--/row end-->


                    <div class="cartFooter w100">
                        <div class="box-footer">
                            <div class="pull-left"><a class="btn btn-default" href="#">
                                    <i class="fa fa-arrow-left"></i> &nbsp; Créneau </a>
                            </div>


                            <div class="pull-right">
                                <a href="{{ path('payement_commande') }}" class="btn btn-primary btn-small ">
                                    Confirmer &nbsp; <i class="fa fa-check"></i>
                                </a>
                            </div>


                        </div>
                    </div>
                    <!--/ cartFooter -->
                </div>


            </div>
        </div>
        <!--/row end-->


        <div class="col-lg-3 col-md-3 col-sm-12 rightSidebar">

            <div class="w100 cartMiniTable">
                <table id="cart-summary" class="std table">
                    <tbody>
                        <tr>
                            <td><h4> Total commande</h4></td>
                        </tr>
                        <tr>
                            <td class=" site-color" ><span id="total-price">{{ commande.prix|number_format(2, '.', ',') }}</span> <span class=" site-color"> € </span></td>
                        </tr>


                    </tbody>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
        <!--/rightSidebar-->
    </div>
    <!--/row-->

    <div style="clear:both"></div>
{% endblock %}
