{% extends '@Backend/layout/layout.html.twig' %}

{% block page %}
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">Gestion Des Catégories</h1>

            <div class="page-header-actions">
                <div class="row">
                    <div class="col-lg-6 ">
                        <div class="media-body text-center">
                            <h4 class="mt-0 mb-5" style="color:#46bf8c;margin-bottom: 0px!important;"> {{ nbcategories|length }}</h4>
                            <small style="">Catégories </small>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <a href="{{ path('categorie_new') }}" style="margin-top: 3px;" class="float-right btn btn-sm btn-icon social-evernote waves-effect waves-classic">
                            <i class="icon md-plus" aria-hidden="true"></i> Ajouter
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content" style="padding-top: 0 !important;padding-bottom: 0 !important;">
            <!-- Panel -->
            <div class="panel" >
                <div class="panel-body container-fluid" style="padding: 0 !important;">
                    <div class="row row-lg">


                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->
                            <table class="table table-bordered" style="border: none;">
                                <thead>
                                <tr>
                                    <th style="border: none;">Filtre</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="border: none;">
                                        <form  class="row" style="align-items: center;max-width: 1520px;" action="{{ path('categorie_index') }}" method="get">
                                            <div class="col-lg-4  col-md-4 col-xs-4">
                                                <label class="control-label">Catégorie</label>
                                                <input type="text" class="form-control" name="search" value="{% if search is defined %}{{search}}{% endif %}" placeholder="nom categorie">

                                            </div>
                                            <div  class="col-lg-8  col-md-8 col-xs-8 text-right">
                                                <button type="submit" class="float-right btn btn-icon social-evernote waves-effect waves-classic">
                                                    <i class="icon icon md-search" aria-hidden="true"></i></button>

                                                <a href="{{ path('ExportCategorie') }}"  style="margin-right: 10px;" class="float-right btn  btn-icon  btn-dark waves-effect waves-classic waves-effect waves-classic">
                                                    <i class="icon md-download" aria-hidden="true"></i> exporter</a>
                                            </div>
                                        </form>

                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>


        <div class="page-content" style="padding-top: 0px " >
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid"  style="padding-left: 9px !important;padding-right: 9px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
                    <div class="row row-lg">


                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->

                            <table class="table table-striped">
                                <thead>
                                <tr class="">
                                    <th style="padding-left: 20px;width: 50%">Nom</th>
                                    <th style="width: 30%">Alimentaire?</th>
                                    <th style="width: 30%">Auto?</th>
                                    <th class="text-right text-nowrap" style="padding-right:42px;width: 20%" >Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for categorie in categories %}
                                    <tr >
                                        <td  style="padding-left: 20px; ">
                                            {{ categorie.nom }}
                                        </td>

                                        <td>
                                            {% if categorie.isFood == false %}
                                                <i class="md-close text-danger" style="font-size: 25px;"></i>
                                            {% else %}
                                                <i class="md-check text-success" style="font-size: 25px;"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if categorie.isAuto == false %}
                                                <i class="md-close text-danger" style="font-size: 25px;"></i>
                                            {% else %}
                                                <i class="md-check text-success" style="font-size: 25px;"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-right" style="min-width: 110px;padding-right:20px;">
                                            <a href="{{ path('categorie_disable',{'id':categorie.id}) }}" class="btn btn-pure btn-default  md-delete waves-effect waves-classic"></a>
                                            <a href="{{ path('categorie_edit',{'id':categorie.id}) }}" class="btn btn-pure btn-default icon md-edit waves-effect waves-classic"></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="navigation">
                                {{ knp_pagination_render(categories) }}
                            </div>

                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>

    </div>
{% endblock %}
