{% extends 'FrontendBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('assets/css/category-2.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/jquery-ui.css') }}" rel="stylesheet">

{% endblock stylesheets %}

{% block body %}
    <section class="headerOffset">
        {#% include '@Frontend/Blocks/parallaxintro.html.twig' %#}
        <input type="text" value="{{ cp }}" id="cp" style="display: none;">
        <section class="main-container-wrapper clearfix" id="main-container-wrapper">
            <div class="container main-container">

                <!-- Main component call to action -->

                <div class="row">

                    {% if produits.getTotalItemCount > 0 %}{{ include('@Frontend/Blocks/filterbar.html.twig', {"nb_produit" : produits.getTotalItemCount }) }}{% endif %}

                    <div class="catColumnWrapper">
                        {# left column #}

                        {# right column #}
                        <div class="col-lg-12 col-md-12 col-sm-12 categoryColumn">
                            <div class="row  categoryProduct xsResponse clearfix">
                                {% if produits.getTotalItemCount > 0 %}
                                    {% for produit in produits %}

                                        {{ include('@Frontend/Partial/produit.html.twig' , {'produit' : produit}) }}
                                    {% endfor %}
                                {% else %}
                                    <h3 style="color:#df0c36"><i class="fa fa-exclamation-circle"></i> Ce produit est temporairement indisponible</h3>
                                {% endif %}
                            </div>
                            <div class="modal fade" id="modal-panier" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
                                 style="max-width: 70%;display: block; top: 30%;right: 30%;bottom: 45%;left: 30%;">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background: #df0c36;">
                                            <h3 class="modal-title" id="exampleModalLongTitle" style="margin-top: 11px;">Ajout au panier </h3>
                                            <button style="opacity: 1.2;margin-top: -36px;margin-right: -10px;background-color: #df0c36" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span  style="color: #000000" aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-center" >
                                            <h4> La quantité demandée est indisponible</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="navigation">
                                {{ knp_pagination_render(produits) }}
                            </div>
                        </div>
                    </div>


                    <div class="row subCategoryList clearfix">
                        <div class="col-lg-12"><h2>Autres catégories</h2></div>
                        {% for sub_categorie in sous_categories %}
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center "
                                 style="height: 125px;margin-bottom:10px">
                                <div class="thumbnail"><a class="subCategoryThumb"
                                                          href="{{ path("list_produit") }}?sub_categorie_id={{ sub_categorie.id }}">
                                        <img data-original="/uploads/produits/{{ sub_categorie.image }}"
                                             src="{{ asset('/assets/img/default.png') }}"
                                             alt="img" class="img-responsive lazy" style="height: 116px;width: 100%;">
                                    </a> <a class="subCategoryTitle"><span> {{ sub_categorie.nom }} </span></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- /.row  -->
            </div>
            <!-- /main container -->
        </section>
    </section>
{% endblock body %}
{% block javascripts %}
    {{ parent() }}


    <script>
        /*$( "#slider-range" ).slider({
               range: true,
               min: 0,
               max: 5000,
               values: [ {{ app.request.query.get('min_price',0) }}, {{ app.request.query.get('max_price', 3000) }} ],
            slide: function( event, ui ) {
                $( "#min_price" ).val(ui.values[ 0 ]);
                $( "#max_price" ).val(ui.values[ 1]);
            }
        });
        $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
                " - $" + $( "#slider-range" ).slider( "values", 1 ) );
*/

    </script>
{% endblock javascripts %}