{% extends 'FrontendBundle::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('assets/css/pickmeup.css') }}" rel="stylesheet">

{% endblock stylesheets %}
{% block body %}
    <input type="text" value="{{ cp }}" id="cp" style="display: none;">
    <div class="banner banner-boxes">
        <div class="slider-content"><span class="prevControl sliderControl"> <i class="fa fa-angle-left fa-3x "></i></span>
            <span class="nextControl sliderControl"> <i class="fa fa-angle-right fa-3x "></i></span>

            <div class="swiper-container swiper-container-h">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide-2x">
                        <div class="box-slider-content">
                            <!--<div class="box-text">
                                <h1>UNE GAMME DE HAUTE PERFORMANCE</h1>

                                <a class="btn btn-stroke-light" href="{{ path("list_produit") }}?categorie_id=13"> ACHETEZ</a>
                                </div>-->
                            <div class="box-content-overly">
                                <!-- Delete this div if you dont want overly effect -->
                            </div>
                            <a href="#" class="box-img"> <img src="/images/slider/box/1.jpg?v2" alt="img"></a></div>
                    </div>
                    <div class="swiper-slide slide-2x">
                        <div class="slider-box-top">
                            <div class="box-slider-content">
                                <div class="box-text-table">
                                    <div class="box-text-cell">
                                        <br><br>
                                        <h1 class="bolder-style light"><!--<a href="#" style="vertical-align:middle">Mon boulanger</a>--></h1>
                                    </div>
                                </div>
                                <div class="box-content-overly">
                                    <!-- Delete this div if you dont want overly effect -->
                                </div>
                                <a href="#" class="box-img"> <img src="/images/slider/box/2a.jpg?v2" alt="img"></a></div>
                        </div>
                        <div class="slider-box-bottom">
                            <div class="box-slider-content">


                                <a href="#" class="box-img"> <img src="/images/slider/box/2b.jpg?v2" alt="img"> </a>

                                <div class="box-content-overly"><a href="#" class="box-blank-url">
                                        <!-- keep this blank. This link will provide a hyperlink over the box-content-overly div -->
                                    </a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-2x">
                        <div class="box-slider-content">
                            <div class="box-text-table">
                                <div class="box-text-cell">
                                    <h1 class="bolder-style light"><a href="#" style="font-size: xx-large;"> <!--<p>Vos courses en ligne</p><p>avec TOTAL Drive</p>!--></a></h1>
                                </div>
                            </div>
                            <div class="box-content-overly">
                                <!-- Delete this div if you dont want overly effect -->
                            </div>
                            <a href="#" class="box-img"> <img src="/images/slider/box/3.jpg?v2" alt="img"></a>

                            <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-4x">
                        <div class="box-4in a">
                            <div class="box-slider-content"><a href="#" class="box-img"> <img src="/images/slider/box/4a.jpg?v2"
                                                                                              alt="img"></a>

                                <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                            </div>
                        </div>
                        <div class="box-4in b">
                            <div class="box-slider-content"><a href="#" class="box-img"> <img src="/images/slider/box/4b.jpg?v2"
                                                                                              alt="img"></a>

                                <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                            </div>
                        </div>
                        <div class="box-4in c">
                            <div class="box-slider-content"><a href="#" class="box-img"> <img src="/images/slider/box/4c.jpg?v2"
                                                                                              alt="img"></a>

                                <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                            </div>
                        </div>
                        <div class="box-4in d">
                            <div class="box-slider-content"><a href="#" class="box-img"> <img src="/images/slider/box/4d.jpg?v3"
                                                                                              alt="img"></a>

                                <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-2x">
                        <div class="box-slider-content">

                            <a href="#" class="box-img"> <img src="/images/slider/box/6.jpg?v2" alt="img"></a>

                            <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-2x">
                        <div class="slider-box-top">
                            <div class="box-slider-content">
                                <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                                <a href="#" class="box-img"> <img src="/images/slider/box/7b.jpg?v2" alt="img"></a></div>
                        </div>
                        <div class="slider-box-bottom">
                            <div class="box-4in c">
                                <div class="box-slider-content"><a href="#" class="box-img"> <img
                                                src="/images/slider/box/7b1.jpg?v2" alt="img"></a>

                                    <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                                </div>
                            </div>
                            <div class="box-4in d">
                                <div class="box-slider-content"><a href="#" class="box-img"> <img
                                                src="/images/slider/box/7b2.jpg?v2" alt="img"></a>

                                    <div class="box-content-overly"><a href="#" class="box-blank-url"> </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-pagination swiper-pagination"></div>
            </div>

            <!--/.full-container-->
        </div>
    </div>
    <!--/.banner style1-->

    <div class="container main-container">

        <!-- Main component call to action -->

        <div class="row featuredPostContainer globalPadding style2">

            {% for message in app.session.flashBag.get('produitfini') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            <h3 class="section-title style2 text-center"><span>Produits les plus vendus</span></h3>
            <div id="productslider" class="owl-carousel owl-theme">
                {% for produit in produits %}

                        <div class="product" style="    margin-right: 10px;">

                            <div class="image">


                                    <img data-original="/uploads/produits/{{ produit.produit.image }}"
                                         src="{% if produit.sub_image and produit.sub_image and produit.sub_image != "" %}/uploads/produits/{{ produit.sub_image }}
                                         {% else %}{{ asset('/assets/img/default.png') }}
                                    {% endif %}"
                                    alt="img" class="img-responsive lazy">
                                {% if produit.produit.quantite >0 %}
                                {% if produit.produit.finalPrice["is_promo"] and produit.produit.numProduitPromo == 1   %}
                                    <div class="promotion">
                                    <span class="discount" style="    font-weight: 400;">Promotion {{  produit.produit.finalPrice["percentage"]|number_format(0, '.', ',') }}%
                                    </span>
                                    </div>
                                {% endif %}
                                {% if produit.produit.finalPrice["is_promo"] and produit.produit.numProduitPromo > 1  %}
                                    <div class="promotion">
                                    <span class="discount" style="    font-weight: 400;"> {{  produit.produit.finalPrice["percentage"]|number_format(0, '.', ',') }}%
                                        sur le {{ produit.produit.numProduitPromo }}ème produit
                                    </span>
                                    </div>
                                {% endif %}
                                {% else %}
                                    <div class="promotion">
                                    <span class="horsstock" style="    font-weight: 400;">
                                      HORS STOCK
                                    </span>
                                    </div>
                                {% endif %}
                            </div>
                            <br>
                            <div class="description" style="min-height: 44px;">
                               <span style="color:#545454; font-size: 16px;font-family: 'Open Sans', sans-serif">{{ produit.produit.nom }}</span>
                            </div>
                            <div class="price">
                                <span style="color:#df0c36; font-size: 22px;font-family: 'Open Sans', sans-serif;">
                                    {{ produit.produit.finalPrice["prix"]|number_format(2, '.', ',') }} €
                                </span>
                                {% if produit.produit.finalPrice["is_promo"] and produit.produit.numProduitPromo == 1  %}
                                    <span class="old-price">
                                    {{ produit.produit.finalPrice["old_prix"]|number_format(2, '.', ',') }}€ </span>
                                {% endif %}
                            </div>

                            <div  class="row" id="quantite{{ produit.produit.id }}" name="quantite{{ produit.produit.id }}" style="padding-bottom: 10px;" disabled="none" hidden >
                                <div class="col-lg-3">
                                </div>
                                <div class="col-lg-6"  style="    margin-top: 10px;">
                                    <div class="input-group">
                                    <span class="input-group-btn">
                                        <button  id="deleteArticle{{ produit.produit.id }}"
                                                 onclick="deleteArticleQuantity({{ produit.produit.id }},{{ produit.produit.prix }})"    type="button" class="quantity-left-minus btn btn-danger btn-number" style="background-color:#df0c36" data-type="minus" data-field="">
                                          <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                        <input style="padding: 16.5px 10px;" type="number" id="qte{{ produit.produit.id }}" name="qte{{ produit.produit.id }}"
                                               class="form-control input-number text-center"
                                                {% if app.session.get('panier')[produit.produit.id] is defined %}
                                                   value="{{ app.session.get('panier')[produit.produit.id] }}"
                                                {% else %}
                                                   value="0"
                                               {% endif %}  min="1" max="100" disabled>
                                        <span class="input-group-btn">
                                        <button id="addArticle{{ produit.produit.id }}"
                                                onclick="addArticle({{ produit.produit.id }},{{ produit.produit.quantite }})"

                                                type="button" class="quantity-right-plus btn btn-success btn-number" style="background-color:#df0c36" data-type="plus" data-field="">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                </div>

                            </div>
                            <div class="action-control" id="addcart{{ produit.produit.id }}" name="addcart{{ produit.produit.id }}">
                                {% if produit.produit.quantite == 0 %}
                                    <button disabled type="button" style="background: none;border: none;"
                                            data-loading-text="<i class='fa fa-spinner fa-spin '> </i> Chargement">
                                            <span class="add2cart" style="color:#8c8586;">Ajouter au panier
                                                <i class="glyphicon glyphicon-shopping-cart"> </i>
                                            </span>
                                    </button>
                                {% else %}

                                    <button type="submit" style="background: none;border: none;"
                                            id="btn-panier{{ produit.produit.id }}"
                                            onclick="enabledivquantity({{ produit.produit.id }},{{ produit.produit.quantite  }})"
                                            data-loading-text="<i class='fa fa-spinner fa-spin '> </i> Chargement">
                                        <span class="add2cart" style="color:#df0c36;">Ajouter au panier
                                            <i class="glyphicon glyphicon-shopping-cart"> </i>
                                        </span>
                                    </button>
                                {% endif %}
                            </div>
                           <br><br>
                        </div>

                {% endfor %}
            </div>
            <div class="modal fade" id="modal-panier" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
                 style="max-width: 70%;display: block; top: 30%;right: 30%;bottom: 45%;left: 30%;">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background: #df0c36;">
                            <h4 class="modal-title" id="exampleModalLongTitle" style="margin-top: 11px;">Ajout au panier </h4>
                            <button style="opacity: 1.2;margin-top: -36px;margin-right: -10px;background-color: #df0c36" type="button" class=" close" data-dismiss="modal" aria-label="Close">
                                <span  style="color: #ffffff" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center" >
                            <h3> La quantité demandée est indisponible</h3>
                        </div>
                    </div>
                </div>
            </div>

            <!--/.productslider-->

        </div>
        <!--/.featuredPostContainer-->
    </div>
    <!-- /main container -->






<script>


    function enabledivquantity(id,quantite) {
        var qte = parseInt(  $("#qte"+id).val());
        if(qte + 1  > quantite  ){

            $("document").ready(function () {
                console.log('modal-panier')
                $('#modal-panier').modal({
                    backdrop: 'static',
                    keyboard: false
                });
                //  $('select').select2();
            })
        }
        else {
            var quantity = document.getElementById("quantite"+id);
            var btncart = document.getElementById("addcart"+id);
            quantity.style.display = "block";
            btncart.style.display = "none";
            addArticle(id, quantite);
        }
    }

</script>

{% endblock body %}
