{% if app.session.get("station_id","") == "" %}
    <!-- choose station -->
    <div class="modal" tabindex="-1" role="dialog" id="chooseStationModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body" style="padding-top: 0px;padding-bottom: 0px;">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12" style="background-color: #f9f9f9;    padding: 55px;">
                            <span style="font-size: 20px;font-weight: bold; color: #df0c36;">DISPOSITIF CORONA VIRUS</span>
                            <p style="    margin-top: 30px;">
                                Chères Clientes, Chers Clients,<br>
                                Le gouvernement a été conduit à mettre en place des mesures strictes de confinement.<br>
                                Nous sommes là pour que vous puissiez, malgré tout, faire vos courses le plus
                                normalement possible.<br>
                                Aidez-nous à remplir notre mission dans les meilleures conditions, pour vous, pour nous, pour tous.<br>
                                Choisissez votre station, remplissez votre panier, payez en ligne et venez récupérer vos produits au créneau choisi sans coût supplémentaire !<br>
                                Votre commande sera déposée dans le coffre de votre voiture, le tout dans le respect des gestes barrières.
                            </p>
                        </div>
                        <div class="col-lg-6 col-xs-12" style="      text-align: center; display: table; height: 320px">
                            <div style="display: table-cell;vertical-align: middle;">
                                <span><b>Sélectionnez la station de votre choix</b></span><br>

                                <form action="{{ path("setStation") }}">
                                    <select id="stationList" name="station_id" style="    width: 50%;height: 27px;">
                                        <option></option>
                                        {% for key, station in stations %}
                                        <optgroup label="{{ key }}">
                                            {% for s in station %}
                                                <option value="{{ s.id }}">{{ s.nom }}</option>

                                            {% endfor %}
                                        </optgroup>
                                        {% endfor %}#}
                                    </select>
                                    <button type="submit">Valider</button>
                                </form>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        $("document").ready(function () {
            $('#chooseStationModal').modal({
                backdrop: 'static',
                keyboard: false
            });
            //  $('select').select2();
        })

    </script>
    <!-- choose station -->
{% endif %}
