
{% extends '@Backend/layout/layout.html.twig' %}

{% block page %}
    <div class="page">

        <div class="page-header">
            <h1 class="page-title">Horaires de retrait  </h1>
        </div>

        <div class="page-content" style="padding-top: 0px " >
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid"  style="padding-left: 9px !important;padding-right: 9px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
                    <form class="row row-lg" style="padding-top: 100px;padding-bottom: 100px;" action="{{ path('horaire_gerant_index') }}" method="post">

                        {% if error is defined %}
                            <div class="col-lg-12 text-center">
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                {{ error }}
                            </div>
                            </div>
                        {% endif %}
                        <div class="col-lg-12 text-center">
                            <h4 class="example-title">Veuillez choisir les horaires de disponibilité de retrait</h4>
                        </div>
                        <div  class="col-lg-5 col-md-5 col-xs-5" >
                        </div>
                        <div class="col-lg-7 col-md-7 col-xs-7">
                            <div class="example-wrap">

                            {%  for  key, horaire in horaires %}
                                <div class="checkbox-custom checkbox-primary">
                                    <input type="checkbox" name="listHoraires[]"  value="{{ key }}" id="checkbox{{ key }}"
                                            {% if key in station.horaires %} checked="" {% endif %}>
                                    <label>{{ horaire }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        </div>
                        <div class="col-lg-5 text-center">
                        </div>
                        <div class="col-lg-7 col-md-7 col-xs-7">
                            <div class="example-wrap">

                                <div class="checkbox-custom checkbox-primary">
                                    <input type="checkbox" name="isOpen"  value="1" id="isOpen"
                                            {% if station.isOpen == true %} checked="" {% endif %}>
                                    <label>Station ouverte les dimanches </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn btn-dark  waves-effect waves-classic">Valider</button>
                        </div>
                    </form>

                </div>
            </div>
            <!-- End Panel -->
        </div>

    </div>
{% endblock %}
