
{% extends '@Backend/layout/layout.html.twig' %}

{% block page %}
    <div class="page">

        <div class="page-header">
            <h1 class="page-title">Horaires de retrait  </h1>
        </div>

        <div class="page-content" style="padding-top: 0px " >
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid"  style="padding-left: 9px !important;padding-right: 9px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
                    <div class="row row-lg" style="padding-top: 100px;padding-bottom: 100px;">

                        {{ form_start(form, {'attr': {'class': 'col-lg-12 '}}) }}
                        <div class="col-lg-12">
                            <div class="row row-lg">
                                <div class="col-lg-3 text-right">
                                    <label>Horaires :</label>
                                </div>
                                <div class="col-lg-6 text-left">
                                    {{ form_widget(form.horaires, {'attr': {'class': 'form-control' ,'data-plugin':'select2'}}) }}
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="col-lg-12 text-center">
                            <button class="btn btn-dark  waves-effect waves-classic">Valider</button>
                        </div>
                        {{ form_end(form) }}

                        </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>

    </div>
{% endblock %}
