{% extends '@Backend/layout/layout.html.twig' %}


{% block page %}
    <div class="page">
        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            <div class="example-wrap">
                                <h4 class="example-title">Modification Filiale </h4>
                                <br><br>
                                <div class="row row-lg">


                                    {{ form_start(form, {'attr': {'class': 'col-lg-12 '}}) }}
                                    <div class="col-lg-12 text-center">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>Code Filiale:</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.code, {'attr': {'class': 'btn btn-default dropdown-toggle waves-effect waves-classic text-uppercase'}}) }}

                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>Nom Filiale:</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12 text-center">
                                        <button class="btn btn-dark  waves-effect waves-classic">{{ button_label|default('Modifier Filiale') }}</button>
                                    </div>
                                    {{ form_end(form) }}

                                    <br>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
