{% extends '@Backend/layout/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('remark/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css') }}">
{%  endblock  stylesheets %}
{% block page %}
    <div class="page">
        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row row-lg">


                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->
                            <div class="example-wrap">
                                <div class="row row-lg">

                                <div class="col-lg-6">
                                <h4 class="example-title">Gestion Des Filiales </h4>
                                </div>
                                <div class="col-lg-6" >
                                    <a href="{{ path('pays_new') }}" class="float-right btn btn-icon social-evernote waves-effect waves-classic"><i class="icon md-plus" aria-hidden="true"></i> Ajouter</a>
                                </div>
                                    <br>
                                </div>
                                <div class="example table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Filtre</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <form class="row " style="align-items: center;max-width: 1520px;" action="{{ path('pays_index') }}" method="get">

                                                        <div class="col-lg-6 col-md-6 col-xs-6">
                                                            <select class="form-control" name="code" placeholder="choisir un pays">
                                                                <option value="" disabled selected hidden>choisir un pays</option>
                                                                {% if code == 'tous' %}
                                                                    <option class="dropdown-item" value="" role="menuitem" selected>
                                                                        Tous les filiale
                                                                    </option>
                                                                {% else %}
                                                                    <option class="dropdown-item" value="" role="menuitem" >
                                                                        Tous les filiale
                                                                    </option>
                                                                {% endif %}

                                                                {% for p in listpays %}
                                                                    {% if code is defined   %}
                                                                        {% if code == p.id %}
                                                                            <option class="dropdown-item" value="{{ p.id }}" role="menuitem" selected>
                                                                                {{ p.nom }}
                                                                            </option>
                                                                        {% else %}
                                                                            <option class="dropdown-item" value="{{ p.id }}" role="menuitem">
                                                                                {{ p.nom }}
                                                                            </option>
                                                                        {% endif %}
                                                                    {% else %}
                                                                        <option class="dropdown-item" value="{{ p.id }}" role="menuitem">
                                                                            {{ p.nom }}
                                                                        </option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-6  col-md-6 col-xs-6">
                                                            <button type="submit" class="float-right btn btn-icon social-evernote waves-effect waves-classic"><i class="icon icon md-search" aria-hidden="true"></i></button>                                    </div>

                                                </form>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="example table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr class="text-center">
                                            <th style="width: 50%">Pays</th>
                                            <th style="width: 20%">Statut</th>
                                            <th style="width: 30%" class="text-nowrap">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>


                                        {% for p in pays %}
                                            <tr class="text-center">
                                            <td style="    vertical-align: middle;">
                                                <span class="flag-icon flag-icon-{{p.code}}" style="margin-right: 8px;"></span>
                                               {{ p.nom }}
                                            </td>
                                                    <td>
                                                    {% if p.isActive == false %}
                                                        <i class="md-close text-danger" style="font-size: 25px;"></i>
                                                    {% else %}
                                                        <i class="md-check text-success" style="font-size: 25px;"></i>
                                                    {% endif %}
                                                </td>
                                            <td style="    vertical-align: middle;">
                                                <a href="{{ path('pays_edit', {'id': p.id}) }}" class="btn btn-pure btn-default icon md-edit waves-effect waves-classic"></a>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('remark/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('remark/global/js/Plugin/bootstrap-datepicker.js') }}"></script>


{%  endblock  javascripts %}