{% extends '@Backend/layout/layout.html.twig' %}


{% block page %}
    <div class="page">
        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            <div class="example-wrap">
                                <h4 class="example-title">Modification Produit </h4>
                                <br><br>
                                <div class="row row-lg">


                                    {{ form_start(form, {'attr': {'class': 'col-lg-12 '}}) }}
                                    {% if  form.categorie is defined%}
                                        <div class="col-lg-12">
                                            <div class="row row-lg">
                                                <div class="col-lg-3 text-right">
                                                    <label>Catégorie :</label>
                                                </div>
                                                <div class="col-lg-6 text-left">
                                                    {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>

                                        <br><br>
                                    {% endif %}
                                    {% if  form.sous_categorie is defined%}
                                        <div class="col-lg-12">
                                            <div class="row row-lg">
                                                <div class="col-lg-3 text-right">
                                                    <label>Sous Catégorie :</label>
                                                </div>
                                                <div class="col-lg-6 text-left">
                                                    {{ form_widget(form.sous_categorie, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <br><br>
                                    {% endif %}
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>Nom :</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>

                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>Prix :</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
                                                <br>
                                                {% if not form.vars.valid %}
                                                    {% for child in form.children %}
                                                        {# Display the errors of the form item #}
                                                        {%for error in child.vars.errors%}
                                                            <div class="alert alert-danger alert-dismissible" role="alert">
                                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                                le prix n'est pas valide
                                                            </div>
                                                        {%endfor%}
                                                    {%endfor%}

                                                {%endif%}
                                            </div>
                                        </div>
                                    </div>

                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>Quantité :</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>Image  :</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.imagefile, {'attr': {'id': 'input-file-now', 'data-plugin':'dropify','data-default-file': '','style' : 'max-height: 100px;max-width:300px'}}) }}
                                            </div>
                                        </div>
                                    </div>

                                    <br><br>

                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>Pourcentage de promotion:</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.poucentage_promo, {'attr': {'class': 'form-control'}}) }}
                                                <br>

                                            </div>
                                        </div>
                                    </div>
                                    <br><br>

                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>Numéro de produit à reduire:</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.num_produit_promo, {'attr': {'class': 'form-control'}}) }}
                                                <br>

                                            </div>
                                        </div>
                                    </div>
                                    <br><br>


                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                            </div>

                                            <div class="col-lg-6 text-left">
                                                <div class="checkbox-custom checkbox-primary center-block">
                                                    {{ form_widget(form.is_promo, {'attr': {'class': 'form-control'}}) }}
                                                    <label for="inputChecked">Est Promo?</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                            </div>

                                            <div class="col-lg-6 text-left">
                                                <div class="checkbox-custom checkbox-primary center-block">
                                                    {{ form_widget(form.is_active, {'attr': {'class': 'form-control'}}) }}
                                                    <label for="inputChecked">Est Active?</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br><br>
                                    <div class="col-lg-12 text-center">
                                        <button class="btn btn-dark  waves-effect waves-classic">{{ button_label|default('Modifier Produit') }}</button>
                                    </div>
                                    {{ form_end(form) }}

                                    <br>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $( "select[name='produit[categorie]']" ).change(function () {
            var matiereID = $(this).val();
            console.log('aaaaa');

            if(matiereID) {


                $.ajax({
                    url: "{{ path('get_sous_categorie_from_categorie') }}",
                    dataType: 'Json',
                    data: {'categorieid':matiereID},
                    type:'GET',
                    success: function(data) {
                        $('select[name="produit[sous_categorie]"]').empty();
                        $('select[name="produit[sous_categorie]').append('<option value="" selected hidden>'+ 'choisir une sous categorie' +'</option>');

                        for(i = 0; i < data.length; i++) {
                            student = data[i];
                            $('select[name="produit[sous_categorie]').append('<option value="'+ student['id'] +'">'+ student['nom'] +'</option>');
                        };
                    }
                });


            }else{
                $('select[name="produit[sous_categorie]"]').empty();
            }
        });
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });

            $( "select[name='produit_categorie']" ).select2();
            $( "select[name='produit_sous_categorie']" ).select2();

        })(document, window, jQuery);
    </script>
{% endblock %}