{% extends '@Backend/layout/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("remark/global/vendor/intro-js/introjs.min.css") }}">
    <link rel="stylesheet" href="{{ asset('remark/global/css/widgets/social.css') }}">

    <!-- Page -->
    <link rel="stylesheet" href="{{ asset('remark/global/fonts/font-awesome/font-awesome.css') }}">

    <!-- Fonts -->
    <link rel="stylesheet" href="{{ asset('remark/global/fonts/web-icons/web-icons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('remark/global/fonts/brand-icons/brand-icons.min.css') }}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <style>
        .site-menu-title {
            overflow: visible !important;
        }

        .input-daterange .input-group {
            float: left;
            width: 50%;
        }

        .btn-floating.btn-sm {
            width: 40px;
            height: 40px;
            padding: 0;
            font-size: 15px;
        }
        .widget-content{
            padding: 20px;
        }
    </style>
{% endblock %}
{% block page %}

<!-- Page -->
<div class="page">
    <div class="page-header">
        <h1 class="page-title">Dashboard </h1>
    </div>



    <div class="page-content container-fluid">
        <div class="row" data-plugin="matchHeight" data-by-row="true">
            <div class="col-lg-3 col-sm-6 col-xs-12 info-panel">
                <div class="widget widget-shadow"  style="cursor: pointer;">
                    <div class="widget-content bg-white padding-20">
                        <button type="button" class="btn btn-floating btn-sm btn-info">
                            <i class="icon fa-money"></i>
                        </button>
                        <span class="margin-left-15 font-weight-400 font-size-15">Commandes par jour</span>
                        <div class="content-text text-center margin-bottom-0">
                            <i class="text-danger icon wb-triangle-up font-size-20">
                            </i>
                            <span class="font-size-30 font-weight-100">{{ cj }}</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 info-panel">
                <div class="widget widget-shadow"  style="cursor: pointer;">
                    <div class="widget-content bg-white padding-20">
                        <button type="button" class="btn btn-floating btn-sm btn-info">
                            <i class="icon fa-money"></i>
                        </button>
                        <span class="margin-left-15 font-weight-400 font-size-15">Commandes par semaine</span>
                        <div class="content-text text-center margin-bottom-0">
                            <i class="text-danger icon wb-triangle-up font-size-20">
                            </i>
                            <span class="font-size-30 font-weight-100">{{ cs }}</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 info-panel">
                <div class="widget widget-shadow"  style="cursor: pointer;">
                    <div class="widget-content bg-white padding-20">
                        <button type="button" class="btn btn-floating btn-sm btn-info">
                            <i class="icon fa-money"></i>
                        </button>
                        <span class="margin-left-15 font-weight-400 font-size-15">Commandes par mois</span>
                        <div class="content-text text-center margin-bottom-0">
                            <i class="text-danger icon wb-triangle-up font-size-20">
                            </i>
                            <span class="font-size-30 font-weight-100">{{ cm }}</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 info-panel">
                <div class="widget widget-shadow" style="cursor: pointer;">
                    <div class="widget-content bg-white padding-20">
                        <button type="button" class="btn btn-floating btn-sm btn-info">
                            <i class="icon fa-money"></i>
                        </button>
                        <span class="margin-left-15 font-weight-400 font-size-15">Commandes par année</span>
                        <div class="content-text text-center margin-bottom-0">
                            <i class="text-danger icon wb-triangle-up font-size-20">
                            </i>
                            <span class="font-size-30 font-weight-100">{{ ca }}</span>
                        </div>
                    </div>
                </div>
            </div>









            <div class="col-lg-3 col-sm-6 col-xs-12 info-panel">
                <div class="widget widget-shadow" onclick="location.href='{{ path('station_index') }}';" style="cursor: pointer;">
                    <div class="widget-content bg-white padding-20">
                        <button type="button" class="btn btn-floating btn-sm btn-danger">
                            <i class="icon fa-map-marker"></i>
                        </button>
                        <span class="margin-left-15 font-weight-400 font-size-20">Stations</span>
                        <div class="content-text text-center margin-bottom-0">
                            <i class="text-danger icon wb-triangle-up font-size-20">
                            </i>
                            <span class="font-size-30 font-weight-100"> {{ stations|length }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12 info-panel" onclick="location.href='{{ path('produit_index') }}" style="cursor: pointer;">
                <div class="widget widget-shadow">
                    <div class="widget-content bg-white padding-20">
                        <button type="button" class="btn btn-floating btn-sm btn-dark">
                            <i class="icon fa-cubes"></i>
                        </button>
                        <span class="margin-left-15 font-weight-400 font-size-20">Produits </span>
                        <div class="content-text text-center margin-bottom-0">
                            <i class="text-danger icon wb-triangle-up font-size-20">
                            </i>
                            <span class="font-size-30 font-weight-100">{{ produits|length }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 info-panel" onclick="location.href='{{ path('client_index') }}" style="cursor: pointer;">
                <div class="widget widget-shadow">
                    <div class="widget-content bg-white padding-20">
                        <button type="button" class="btn btn-floating btn-sm btn-primary">
                            <i class="icon fa-users"></i>
                        </button>
                        <span class="margin-left-15 font-weight-400 font-size-20">Clients</span>
                        <div class="content-text text-center margin-bottom-0">
                            <i class="text-danger icon wb-triangle-up font-size-20">
                            </i>
                            <span class="font-size-30 font-weight-100">{{ clients|length }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12 info-panel" onclick="location.href='{{ path('categorie_index') }}" style="cursor: pointer;">
                <div class="widget widget-shadow">
                    <div class="widget-content bg-white padding-20">
                        <button type="button" class="btn btn-floating btn-sm btn-success">
                            <i class="icon fa-th-list"></i>
                        </button>
                        <span class="margin-left-15 font-weight-400 font-size-20">Catégories</span>
                        <div class="content-text text-center margin-bottom-0">
                            <i class="text-danger icon wb-triangle-up font-size-20">
                            </i>
                            <span class="font-size-30 font-weight-100">{{ categories|length }}</span>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12 info-panel" onclick="location.href='{{ path('sous_categorie_index') }}"  style="cursor: pointer;">
                <div class="widget widget-shadow">
                    <div class="widget-content bg-white padding-20">
                        <button type="button" class="btn btn-floating btn-sm  social-evernote waves-effect waves-classic">
                            <i class="icon fa-list"></i>
                        </button>
                        <span class="margin-left-15 font-weight-400 font-size-20">Sous Catégories </span>
                        <div class="content-text text-center margin-bottom-0">
                            <i class="text-danger icon wb-triangle-up font-size-20">
                            </i>
                            <span class="font-size-30 font-weight-100">{{ souscategories|length }}</span>

                        </div>
                    </div>
                </div>
            </div>
    </div>

</div>
<!-- End Page -->
{% endblock page %}
{%  block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function() {
            $('.input-daterange').datepicker({
                format: "yyyy/mm/dd",
                language: "fr"
            });
        });
    </script>
{% endblock %}