{% extends '@Backend/layout/layout.html.twig' %}


{% block page %}
    <div class="page">
        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-lg-12">
                            <div class="example-wrap">
                                <h4 class="example-title">Nouveau Gérant </h4>
                                <br><br>
                                <div class="row row-lg">
                                    <div class="col-lg-3 text-right">
                                    </div>
                                    <div class="col-lg-6">
                                        {% for message in app.session.flashBag.get('emailexistant') %}
                                            <div class="alert alert-danger alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-lg-3 text-right">
                                    </div>
                                    <div class="col-lg-3 text-right">
                                    </div>
                                    <div class="col-lg-6">
                                    {% for error in errors %}
                                        <div class="alert dark alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            {{ error.message }}
                                        </div>
                                    {% endfor %}
                                    </div>
                                    {{ form_start(form, {'attr': {'class': 'col-lg-12 '}}) }}
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>nom :</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>prénom:</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>téléphone:</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.tel, {'attr': {'class': 'form-control'}}) }}
                                                <p class="text-help">Exemple:(<b>0</b>*********)</p>
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>username:</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>email:</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>mot de passe:</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>repeter le mot de passe:</label>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12 text-center">
                                        <div class="row row-lg">
                                            <div class="col-lg-3 text-right">
                                                <label>station:</label>
                                            </div>
                                            <div class="col-lg-3 text-left">
                                                {{ form_widget(form.station, {'attr': {'class': 'form-control'}}) }}

                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12 text-center">
                                        <button class="btn btn-dark  waves-effect waves-classic">{{ button_label|default('Ajouter Utilisateur') }}</button>
                                    </div>
                                    {{ form_end(form) }}

                                    <br>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
