{% extends '@Backend/layout/layout.html.twig' %}

{% block page %}
	<!-- Page -->
	<div class="page">
		<div class="page-header">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('commande_index') }}">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">Commandes</font>
						</font>
					</a>
				</li>
				<li class="breadcrumb-item active">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">Details Commande</font>
					</font>
				</li>
			</ol>
		</div>
		<div class="page-content container-fluid">
			<div class="row">
				<div
					class="col-lg-3">
					<!-- Page Widget -->
					<div class="card card-shadow text-center">
						<div class="card-block">

							<h4 class="profile-user">Details Commande :
								{{commande.reference}}
							</h4>
							<h5 class="profile-user">Statut Commande :
								<span class="badge {{ commande.statusCommandeCssClass }}">{{ commande.statutCommandeToString }}</span>
							</h5>
							<h5 class="profile-user">Statut Paiement :
								<span class="badge {{ commande.statusPayementCssClass }}">{{ commande.statutPayementToString }}</span>
							</h5>
							<h5 class="profile-user">Remboursement :
								<span class="badge {{ commande.remboursementCssClass }}">{{ commande.remboursementToString }}</span>

							</h5>
							<h5 class="profile-user">Date de la commande :
								{{commande.dateReservation|date("d/m/Y h:i") }}
							</h5>
							<h5 class="profile-user">Date de retrait :
								{{commande.dateReception|date("d/m/Y") }} {{ commande.periodeToString }}
							</h5>
							{% if commande.statutcommande == 3 %}
							<h5 class="profile-user">Date Livraison :
								{{commande.dateReception|date("Y/m/d") }}
							</h5>
							{% endif %}
							{% if commande.statutcommande == 4 %}
								<h5 class="profile-user">Date Annulation :
									{{commande.dateAnnulation|date("Y/m/d h:i") }}
								</h5>
							{% endif %}
							<h5 class="profile-user">
								Client  :
								{{commande.utilisateur.firstName }}
								{{ commande.utilisateur.lastName}}
								<br>
								{{commande.utilisateur.email }}
								<br>
								{{commande.utilisateur.tel }}
							</h5>
							<h5 class="profile-user">
								Station  :
								{{commande.station.nom }}
							</h5>
							<br><br><br>
							<a href="{{ path('ExportDetailsCommande',{'_filename':'Details_commandes','id':commande.id}) }}" class="float-center btn btn-icon  btn-dark waves-effect waves-classic waves-effect waves-classic">
								<i class="icon md-download" aria-hidden="true"></i> exporter</a>
						</div>
					</div>
					<!-- End Page Widget -->
				</div>

				<div
					class="col-lg-9">
					<!-- Panel -->
					<div class="panel">
						<div class="panel-body nav-tabs-animate nav-tabs-horizontal" data-plugin="tabs">

							<div id="exampleBasic" class="jsgrid" style="position: relative; height: 500px; width: 100%;">
								<div class="jsgrid-grid-header jsgrid-header-scrollbar">
									<table class="jsgrid-table table table-striped table-hover">
										<tr class="jsgrid-header-row">
											<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Id Produit</th>
											<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Nom</th>
											<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Quantité</th>
											<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Prix</th>

											{% for cp in commande_produit %}
												<tr class="jsgrid-row">
													<td class="jsgrid-cell jsgrid-align-center" style="width: 100px;">
														{{ cp.produit.id }}</td>
													<td class="jsgrid-cell jsgrid-align-center" style="width: 100px;">{{ cp.produit.nom }}</td>
													<td class="jsgrid-cell jsgrid-align-center" style="width: 100px;">{{ cp.quantite }}</td>
													<td class="jsgrid-cell jsgrid-align-center" style="width: 100px;">{{ cp.prix |number_format(2, '.', ',')}}</td>

												</tr>
											{% endfor %}
										</tr>
									</table>
									<h4 class="profile-user text-right ">Prix Total  :
										{{commande.prix|number_format(2, '.', ',')}}
									</h4>
									<div class="navigation">
										{{ knp_pagination_render(commande_produit) }}
									</div>
								</div>


							</div>


						</div>
					</div>
					<!-- End Panel -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Page -->
{% endblock %}
