{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}

{% form_theme form  'FrontendBundle:Form:form_errors.html.twig' %}

    {% block breadcrump %}
        <div class="row">
            <div class="breadcrumbDiv col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="/">Acceuil</a></li>
                    <li><a href="{{ path("compte") }}">{{ app.user }}</a></li>
                    <li class="active"> Mes informations</li>
                </ul>
            </div>
        </div>
    {% endblock breadcrump %}
    {% block content %}

        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-7">
                <h1 class="section-title-inner"><span><i
                                class="fa fa-unlock-alt"></i> Mes informations </span></h1>

                <div class="row userInfo">


                    <form action="{{ path('fos_user_profile_edit') }}"  method="POST" class="fos_user_profile_edit">




                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group required">
                                <label for="InputPasswordCurrent"> Nom <sup> * </sup> </label>
                                {{ form_widget(form.firstName,{"attr" : {"class":"form-control"} }) }}
                                {{ form_errors(form.firstName) }}
                            </div>

                            <div class="form-group required">
                                <label for="InputPasswordCurrent"> Prénom  <sup> * </sup> </label>
                                {{ form_widget(form.lastName,{"attr" : {"class":"form-control"} }) }}
                                {{ form_errors(form.lastName) }}
                            </div>

                            <div class="form-group">
                                <label for="InputPasswordCurrent"> Tel  <sup> * </sup> </label>
                                {{ form_widget(form.tel,{"attr" : {"class":"form-control"} }) }}
                                {{ form_errors(form.tel) }}
                            </div>

                            <div class="form-group required">
                                <label for="InputPasswordnew"> Adresse e-mail  <sup> * </sup> </label>
                                {{ form_widget(form.email,{"attr" : {"class":"form-control"} }) }}
                                {{ form_errors(form.email) }}
                            </div>
                            <div class="form-group required">
                                <label for="InputPasswordnewConfirm"> Mot de passe actuel <sup> * </sup> </label>
                                {{ form_widget(form.current_password,{"attr" : {"class":"form-control"} }) }}
                                {{ form_errors(form.current_password) }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="btn   btn-primary"><i class="fa fa-save"></i> &nbsp; Mettre à jour</button>
                        </div>
                        {{ form_widget(form._token) }}
                    </form>
                    <div class="col-lg-12 clearfix">
                        <ul class="pager">
                            <li class="previous pull-right"><a href="{{ path("list_produit") }}"> <i class="fa fa-home"></i> Continuer vos achats </a>
                            </li>
                            <li class="next pull-left"><a href="{{ path("compte") }}"> &larr; Mon compte</a></li>
                        </ul>
                    </div>
                </div>
                <!--/row end-->

            </div>
            <div class="col-lg-3 col-md-3 col-sm-5"></div>
        </div>
        <!--/row-->
    {% endblock %}