{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}


    {% block breadcrump %}
        <div class="row">
            <div class="breadcrumbDiv col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="{{ path("compte") }}">{{ app.user }}</a></li>
                    <li><a href="{{ path("facture") }}"> Mes Commandes</a></li>
                    <li class="active"> Détails commande#{{ commande.reference}}</li>
                </ul>
            </div>
        </div>
    {% endblock breadcrump %}
    {% block content %}


        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-7">
                <h1 class="section-title-inner"><span><i class="fa fa-list-alt"></i> Statut commande </span></h1>

                <div class="row userInfo">
                    <div class="col-lg-12">
                        <h2 class="block-title-2"> Votre statut commande </h2>
                    </div>


                    <div class="statusContent">


                        <div class="col-sm-12">
                            <div class=" statusTop">
                                <p><strong>Statut:</strong>
                                    {% if  commande.statutcommande == 0 %}
                                        <span class="badge badge-danger">Non traitée</span>
                                    {% endif %}

                                    {% if  commande.statutcommande == 1 %}
                                        <span class="badge badge-info">En cours de traitement</span>
                                    {% endif %}
                                    {% if  commande.statutcommande == 2 %}
                                        <span class="badge badge-primary">Traitée</span>
                                    {% endif %}
                                    {% if  commande.statutcommande == 3 %}
                                        <span class="badge badge-warning">Livrée</span>
                                    {% endif %}
                                    {% if  commande.statutcommande == 4 %}
                                        <span class="badge badge-dark">Annulée</span>
                                    {% endif %}
                                </p>


                                <p><strong>Ref commande:</strong> #{{ commande.reference}} </p>
                            </div>
                        </div>




                        <div style="clear: both"></div>



                        <div class="col-sm-12 clearfix">
                            <div class="order-box">
                                <div class="order-box-header">

                                    Les Articles
                                </div>


                                <div class="order-box-content">
                                    <div class="table-responsive">
                                        <table class="order-details-cart">
                                            <tbody>

                                            {% for  cp in commande_produit %}

                                                <tr class="cartProduct">
                                                    <td class="cartProductThumb" style="width:20%">
                                                        <div><a href="{{ path("list_produit") }}?sub_categorie_id={{ cp.produit.sousCategorie.id }}"> <img alt="img" class="lazy"
                                                                                                  src="{% if cp.produit.sousCategorie.image  and cp.produit.sousCategorie.image != "" %}/uploads/produits/{{ cp.produit.sousCategorie.image }}{% else %}{{ asset('/assets/img/default.png') }}{% endif %}"  data-original="{{ cp.produit.sousCategorie.image }}">
                                                            </a></div>
                                                    </td>
                                                    <td style="width:40%">
                                                        <div class="miniCartDescription">
                                                            <h4><a href="#"> {{ cp.produit.nom }} </a>
                                                            </h4>

                                                            <div class="price"><span> {{ cp.produit.prix|number_format(2, '.', ',')}}  €</span></div>
                                                        </div>
                                                    </td>
                                                    <td class="" style="width:10%"><a> {{ cp.produit.quantite}}  </a></td>
                                                    <td class="" style="width:15%"><span> {{ (cp.quantite * cp.produit.prix)|number_format(2, '.', ',')}}  €</span></td>

                                                </tr>
                                            {% endfor %}

                                            <tr class="cartTotalTr blank">
                                                <td class="" style="width:20%">
                                                    <div></div>
                                                </td>
                                                <td style="width:40%"></td>
                                                <td class="" style="width:20%"></td>
                                                <td class="" style="width:15%"><span>  </span></td>

                                            </tr>


                                            <tr class="cartTotalTr">
                                                <td class="" style="width:20%">
                                                    <div></div>
                                                </td>
                                                <td style="width:40%"></td>
                                                <td class="" style="width:20%">Total</td>
                                                <td class="" style="width:15%"><span class="price"> {{ commande.prix|number_format(2, '.', ',') }} € </span></td>

                                            </tr>


                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>


                    <div class="col-lg-12 clearfix">
                        <ul class="pager">
                            <li class="previous pull-right"><a href="{{ path("list_produit") }}"> <i class="fa fa-home"></i> Continuer vos achats </a>
                            </li>
                            <li class="next pull-left"><a href="{{ path("facture") }}"> &larr; Mes commandes</a></li>
                        </ul>
                    </div>
                </div>
                <!--/row end-->

            </div>
            <div class="col-lg-3 col-md-3 col-sm-5"></div>
        </div>
        <!--/row-->
    {% endblock %}
