{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}


    {% block breadcrump %}
        <div class="row">
            <div class="breadcrumbDiv col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="{{ path("compte") }}">{{ app.user }}</a></li>
                    <li class="active"> Mes Commandes</li>
                </ul>
            </div>
        </div>
    {% endblock breadcrump %}
    {% block content %}

        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-7">
                <h1 class="section-title-inner"><span><i class="fa fa-list-alt"></i> Commandes </span></h1>

                <div class="row userInfo">
                    <div class="col-lg-12">
                        <h2 class="block-title-2"> Mes Commandes </h2>
                    </div>

                    <div style="clear:both"></div>

                    <div class="col-xs-12 col-sm-12">
                        <table class="footable">
                            <thead>
                            <tr>
                                <th data-class="expand" data-sort-initial="true" data-type="numeric"><span
                                            title="table sorted by this column on load">Références</span></th>
                                <th data-hide="phone,tablet" data-sort-ignore="true">Nb. articles</th>
                                <th data-hide="phone,tablet" data-sort-ignore="true"><strong></strong></th>
                                <th data-hide="default" data-type="numeric"> Prix</th>
                                <th data-hide="default" data-type="numeric"> Date et période de retrait</th>
                                <th data-hide="phone" data-type="numeric"> Statut</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for facture in factures %}
                            <tr>
                                <td data-value="}">#{{ facture.0.commande.reference }}</td>
                                <td>
                                    {{ facture.nbproduit }}
                                    <small>Article(s)</small>
                                </td>
                                <td><a href="{{ path("facture_detail",{"id":facture.0.commande.id}) }}" class="btn btn-primary btn-sm">Voir Détails</a> &nbsp;&nbsp;
                                    <a style="display:none;" href="{{ path("facturepdf",{"id":facture.0.id}) }}" class="btn btn-primary btn-sm">Imprimer facture</a>
                                </td>
                                <td data-value="{{  facture.0.commande.prix|number_format(2, '.', ',') }}">{{  facture.0.commande.prix|number_format(2, '.', ',') }} €</td>
                                <td data-value="">
                                    {{facture.0.commande.dateReception|date("d/m/Y h:i") }}
                                    {% if  facture.0.commande.periodeReception == 1 %}
                                        de 8h à 10h
                                    {% endif %}
                                    {% if  facture.0.commande.periodeReception == 2 %}
                                        de 10h à 12h
                                    {% endif %}
                                    {% if  facture.0.commande.periodeReception == 3 %}
                                        de 12h à 14h
                                    {% endif %}
                                    {% if facture.0.commande.periodeReception == 4 %}
                                        de 14h à 16h
                                    {% endif %}
                                    {% if  facture.0.commande.periodeReception == 5 %}
                                        de 16h à 18h
                                    {% endif %}
                                    {% if facture.0.commande.periodeReception == 6 %}
                                        de 18h à 20h
                                    {% endif %}
                                </td>
                                <td data-value="">
                                {% if  facture.0.commande.statutcommande == 0 %}
                                    <span class="badge badge-danger">Non traitée</span>
                                {% endif %}

                                {% if  facture.0.commande.statutcommande == 1 %}
                                    <span class="badge badge-info">En cours de traitement</span>
                                {% endif %}
                                {% if  facture.0.commande.statutcommande == 2 %}
                                    <span class="badge badge-primary">Traitée</span>
                                {% endif %}
                                {% if  facture.0.commande.statutcommande == 3 %}
                                    <span class="badge badge-warning">Livrée</span>
                                {% endif %}
                                {% if  facture.0.commande.statutcommande == 4 %}
                                    <span class="badge badge-dark">Annulée</span>
                                {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div style="clear:both"></div>

                    <div class="col-lg-12 clearfix">
                        <ul class="pager">
                            <li class="previous pull-right"><a href="{{ path("list_produit") }}"> <i class="fa fa-home"></i> Continuer vos achats </a>
                            </li>
                            <li class="next pull-left"><a href="{{ path("compte") }}"> &larr; Mon compte</a></li>
                        </ul>
                    </div>
                </div>
                <!--/row end-->

            </div>
            <div class="col-lg-3 col-md-3 col-sm-5"></div>
        </div>
        <!--/row-->

    {% endblock %}
{% block stylesheets %}
{{ parent() }}
    <!-- styles needed by footable  -->
    <link href="/assets/css/footable-0.1.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/footable.sortable-0.1.css" rel="stylesheet" type="text/css"/>
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <!-- include footable plugin -->
    <script src="/assets/js/footable.js" type="text/javascript"></script>
    <script src="/assets/js/footable.sortable.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.footable').footable();
        });
    </script>
{% endblock %}