{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}


{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock stylesheets %}
{% form_theme form  'FrontendBundle:Form:form_errors.html.twig' %}
    {% block content %}

        <div class="container main-container">

            <div class="row">
                <div class="breadcrumbDiv col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('homepage_frontend') }}">Accueil</a></li>
                        <li class="active"> Inscription</li>
                    </ul>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-12">
                    <h1 class="section-title-inner"><span><i class="fa fa-lock"></i> Inscription</span></h1>

                    <div class="row userInfo">

                        <div class="col-xs-12 col-sm-7">
                            <h2 class="block-title-2"><span>Inscription</span></h2>

                            <form role="form" class="logForm " id="myForm" action="{{ path('fos_user_registration_register') }}"
                                  method="post">

                                {% if form.vars.errors is not empty %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ form_errors(form) }}
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    <label>Nom <sup> * </sup></label>
                                    {{ form_widget(form.firstName,{"attr" : {"class":"form-control","placeholder":"Nom"} } ) }}
                                    {{ form_errors(form.firstName) }}
                                </div>
                                <div class="form-group">
                                    <label>Prénom <sup> * </sup></label>
                                    {{ form_widget(form.lastName,{"attr" : {"class":"form-control","placeholder":"Prénom"} } ) }}
                                    {{ form_errors(form.lastName) }}
                                </div>
                                <div class="form-group">
                                    <label>Date de naissance <sup> * </sup></label>
                                    {{ form_widget(form.date_naissance ,{"attr" : {"placeholder":"Date de naissance"} } ) }}
                                    {{ form_errors(form.date_naissance) }}
                                </div>
                                <div class="form-group">
                                    <label>Tel</label>
                                    {{ form_widget(form.tel,{"attr" : {"class":"form-control","placeholder":"Tel"} } ) }}
                                    {{ form_errors(form.tel) }}
                                </div>
                                <div class="form-group">
                                    <label>Email <sup> * </sup></label>
                                    {{ form_widget(form.email,{"attr" : {"class":"form-control","placeholder":"Email"} } ) }}
                                    {{ form_errors(form.email) }}
                                </div>
                                <div class="form-group">
                                    <label>Mot de passe <sup> * </sup></label>
                                    {{ form_widget(form.plainPassword.first,{"attr" : {"class":"form-control","placeholder":"Mot de passe"} } ) }}
                                    {{ form_errors(form.plainPassword.first) }}
                                </div>
                                <div class="form-group">
                                    <label>Vérification <sup> * </sup></label>
                                    {{ form_widget(form.plainPassword.second,{"attr" : {"class":"form-control","placeholder":"Vérification"} } ) }}
                                    {{ form_errors(form.plainPassword.second) }}
                                </div>
                                <img src="/interdiction.png" style="margin-bottom: 10px;width: 100%">
                                <div class="form-group">
                                    <input type="checkbox" name="fos_user_registration_form[accept_pub]"/> J'accepte de
                                    recevoir par email et/ou SMS les offres promotionnelles de la part de Total
                                    <br> <br>
                                    <input type="checkbox" required/> J'accepte <a
                                            href="/DRIVE-Conditions-d_Utilisation_v2018_07_24.pdf" target="_blank" style="color: #df0c36"> les
                                        conditions générales d’utilisation</a>
                                </div>

                                <div class="g-recaptcha" data-sitekey="6Lc5D-wUAAAAAG7zVXP608ZJNL0HncaFG7jLsj2v"></div>

                                <div style="display: block;text-align: center;">
                                    <button class="btn btn-primary" type="submit" style="width: 170px;margin-top: 20px;margin-bottom: 10px;"><i class="fa fa-user"></i>
                                        Valider
                                    </button>
                                    <br><a href="/DRIVE-Mentions-d_information_2018_07_24.pdf" target="_blank" style="color: #df0c36">Mentions légales</a>

                                    <div style="display:none;">{{ form_rest(form) }}</div>

                                </div>

                            </form>


                        </div>

                        <div class="col-xs-12 col-sm-5">
                            <h2 class="block-title-2"> Déja inscrit ? </h2>

                            <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}" type="submit"><i
                                        class="fa fa-sign-in"></i> Se connecter</a>
                        </div>


                    </div>
                    <!--/row end-->

                </div>

                <div class="col-lg-3 col-md-3 col-sm-5"></div>
            </div>
            <!--/row-->
            <hr>
            <div style="margin-bottom: 20px;color: #9e9e9e;font-size: 14px;">
                Conformément aux dispositions de la réglementation sur la protection des données personnelles, TOTAL
                Réunion en tant que responsable de traitement, traite vos données et sont nécessaires aux fins de,
                conformément à votre accord, permettre de traiter votre demande, à défaut celle-ci ne pourra être
                traitée. Les éventuels champs obligatoires à compléter sont marqués par un astérisque.<br><br>

                Conformément à la règlementation en vigueur, vous disposez d’un droit d’accès, de rectification, de
                suppression et d’opposition de vos données personnelles. Vous pouvez demander la communication de vos
                données personnelles et vous avez le droit de définir des directives relatives au sort de vos données
                personnelles après votre décès. Vous pouvez également demander la limitation du traitement ou la
                portabilité de vos données et/ou introduire une réclamation auprès de la CNIL.<br>

                Vous pouvez exercer vos droits et nous interroger sur le traitement de vos données personnelles en vous
                adressant par mail à : TOTAL Réunion harry.allane@totalreunion.fr<br>

                Pour en savoir plus: <a href="/DRIVE-Charte-personnelles-et-cookies_v2018_07_24.pdf" target="_blank">La charte données personnelles et cookies</a>
            </div>
            <div style="clear:both"></div>
        </div>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <!-- /wrapper -->
    {% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(function () {
            $("#fos_user_registration_form_date_naissance").datepicker(
                {
                    format: 'dd/mm/yyyy',
                    startDate: new Date('1940-1-1'),

                }
            );
        });
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'dd/mm/yyyy',
                startDate: new Date('01/01/1975'),
            });
        });
    </script>
{% endblock javascripts %}